
<extend name="Public/base"/>
<block name="style">
    <link rel="stylesheet" href="__PUBLIC__/pc/css/useragreement.css">
</block>
<block name="body">
<body class="bg">
<include file="Public/head"/>
            
    <div class="session">
            <div class="w1200">
                <include file="Public/nav"/>
                <div class="nav-bred">
                    <a href="#">{$info['title']}</a>
                </div>
                <div class="useragreement sess-wapper">
                    {$info['content']}
                </div>
            </div>
    </div>
</div>
</body>
</block>
</html>