
<extend name="Public/base"/>
<block name="style">
    <link rel="stylesheet" href="__PUBLIC__/pc/css/css/useragreement.css">
</block>
<block name="body">
<body class="bg">
<include file="Public/head"/>
            
    <div class="session">
            <div class="w1200">
                <include file="Public/nav"/>
                <div class="nav-bred">
                    <a href="#">用户协议</a>
                </div>
                <div class="useragreement sess-wapper">
                    <h1>帮帮鸭用户使用协议</h1>
                    <p>本协议服务条款(以下简称“服务条款”)是由用户(您)与帮帮鸭平台(以下简称“帮帮鸭”)就帮帮鸭提供的兼职信息服务所订立的相关权利义务规范，本服务条款对您及帮帮鸭均具有法律效力。</p>
                    <p>本协议服务条款(以下简称“服务条款”)是由用户(您)与帮帮鸭平台(以下简称“帮帮鸭”)就帮帮鸭提供的兼职信息服务所订立的相关权利义务规范，本服务条款对您及帮帮鸭均具有法律效力。</p>
                </div>
            </div>
    </div>
</div>
</body>
</block>
</html>