<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>登录</title>
    <link href="__PUBLIC__/mobile/css/mui.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile/css/style.css" />
    <style>
        #login_container {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: none;
            background: #f0f0f0;

        }
        #login_container iframe {
            width: 100%;
        }
    </style>
</head>

<body>

    <div class="login-index-top">
        <img class="help_duck_logo" src="__PUBLIC__/mobile/images/logoin_img_logo.png">
        <img class="help_duck_font" src="__PUBLIC__/mobile/images/login_font.png">
    </div>

    <div id="login_container" class="wrp-code" onclick="$(this).css('display','none')"></div>
    <div class="login-index-middle">
        <p>投票、关注、浏览也可以赚钱</p>
        <p>需要投票、需要粉丝、需要流量？</p>
        <p>帮帮鸭帮你实现</p>
    </div>

    <div class="login-index-agree">
        <label class="login-index-check">
            <input id="check-agree" checked="checked" class="check-login" name="user_agreement" type="checkbox">
            <span>同意</span>
            <i></i>
        </label>
        <span><a style="color: #6f75ef" href="{:U('Article/articleDetail',array('category_id'=>4))}">《帮帮鸭用户协议》</a></span>

    </div>

    <div class="login-index-wx">
        <a>
            <img onclick="dologin()" src="__PUBLIC__/mobile/images/login_btn_wechat.png">
        </a>
    </div>

</body>
<script src="__PUBLIC__/mobile/js/mui.min.js"></script>
<script src="__PUBLIC__/mobile/js/url.js"></script>
<script type="text/javascript" charset="utf-8">
    mui.init();

    function dologin() {
        var agree = $('#check-agree').prop('checked');
        if (!agree) {
            mui.toast('请勾选用户协议');
            return false;
        }
        if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) {
            setupWebViewJavascriptBridge(function (bridge) {

                /* Initialize your app here */

                bridge.registerHandler('Refresh Login Page', function (data, responseCallback) {
                    window.location.reload();
                    responseCallback(data)
                })
                bridge.callHandler('WeChat Login', null, function responseCallback(responseData) {
                })
            })
        } else if (/(Android)/i.test(navigator.userAgent)) {

            window.AndroidJS.wechatLogin();

        }
    }

    function setupWebViewJavascriptBridge(callback) {
        if (window.WebViewJavascriptBridge) { return callback(WebViewJavascriptBridge); }
        if (window.WVJBCallbacks) { return window.WVJBCallbacks.push(callback); }
        window.WVJBCallbacks = [callback];
        var WVJBIframe = document.createElement('iframe');
        WVJBIframe.style.display = 'none';
        WVJBIframe.src = 'https://__bridge_loaded__';
        document.documentElement.appendChild(WVJBIframe);
        setTimeout(function () { document.documentElement.removeChild(WVJBIframe) }, 0)
    }
    //js登录

     function getWechatLoginInfo(json_data) {
         $.post("{:U('thirdLogin')}", json_data,function (data) {

             if (data.status == 1) {
                 if (/(Android)/i.test(navigator.userAgent)) {
                     window.AndroidJS.sendUserId(data.data);
                 } else if(/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) {

                 }

             }

         })
     }

    function reloadPage() {

        window.location.reload();
    }
    var disable = {$disable};
    if(disable == 1){
        mui.alert('您的账号已被封停!');
    }
</script>
<script src="__PUBLIC__/mobile/js/jquery-3.0.0.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/mobile/js/public.js" type="text/javascript" charset="utf-8"></script>

</html>