<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>{$info['title']}</title>
    <link href="__PUBLIC__/mobile/css/mui.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile/css/style.css"/>
</head>
<body>
<header class="mui-bar mui-bar-nav help-duck-head">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <p class="mui-title">{$info['title']}</p>
</header>

<div class="task-type-all">
    <div class="task-type-content">
        {$info['content']}
    </div>
</div>
<script src="__PUBLIC__/mobile/js/mui.min.js"></script>
<script type="text/javascript" charset="utf-8">
    mui.init();
</script>
</body>
</html>