<extend name="Common/base" />
<block name="style">
</block>
<block name="body">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-cf">单词纠错列表</div>
                    </div>
                    <div class="widget-body am-fr">
                        <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <div class="am-form-group">
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">
                                        <button type="button" class="am-btn am-btn-default am-btn-danger" onclick="javascript:recycle('chkbId', '确认删除?! 删除后无法恢复!', true)">
                                            <span class="am-icon-trash-o"></span> 批量删除
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form action="__SELF__" method="get" class="am-form">
                            <div class="am-u-sm-12 am-u-md-3 am-u-lg-3">
                                <select name="selected_type" id="selected_type" >
                                    <option value="">请选择词性</option>
                                    <option value="1">单词</option>
                                    <option value="2">音标</option>
                                    <option value="3">音节</option>
                                    <option value="4">中文</option>
                                </select>
                                <script>
                                    $(function () {
                                        $('#selected_type').val('{:I("selected_type")}');
                                    });
                                </script>
                            </div>
                            <div class="am-u-sm-12 am-u-md-3 am-u-lg-3">
                                <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                    <input type="text" class="am-form-field" name="keyword" placeholder="请输入单词" value="{:I('keyword')}">
                                    <span class="am-input-group-btn">
                                        <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="submit"></button>
                                        <a class="am-btn  am-btn-default am-btn-danger tpl-table-list-field am-icon-refresh" type="button" href="__ACTION__"></a>
                                    </span>
                                </div>
                            </div>
                        </form>
                        <div class="am-u-sm-12">
                            <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black">
                                <thead>
                                    <tr>
                                        <th>
                                            <input class="check-all" type="checkbox">
                                        </th>
                                        <th>序号</th>
                                        <th>用户</th>
                                        <th>单词</th>
                                        <th>错误类型</th>
                                        <th>正确写法</th>
                                        <th>时间</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <foreach name="list" item="v">
                                        <tr class="gradeX">
                                            <td>
                                                <input class="ids" type="checkbox" name="chkbId" value="{$v['id']}">
                                            </td>
                                            <td>{$v['id']}</td>
                                            <td>{$v['user_name']}</td>
                                            <td>{$v['words']}</td>
                                            <td>
                                                <switch name="v.type">
                                                    <case value="1">单词</case>
                                                    <case value="2">音标</case>
                                                    <case value="3">音节</case>
                                                    <case value="4">中文</case>
                                                    <default />未知
                                                </switch>
                                            </td>
                                            <td>{$v['correct_writing']}</td>
                                            <td>{:date('Y-m-d H:i:s', $v['add_time'])}</td>
                                            <td class="f-14">
                                                <div class="tpl-table-black-operation">
                                                    <a href="javascript:void(0);" onclick="javascript:recycle({$v['id']}, '确认删除?!此步骤无法恢复!', true)" class="tpl-table-black-operation-del">
                                                    <i class="am-icon-trash"></i> 删除
                                                </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </foreach>
                                </tbody>
                            </table>
                            <empty name="list">
                                <h4>aOh! 没有相关内容!</h4>
                            </empty>
                        </div>
                        <div class="am-u-lg-12 am-cf">
                            <div class="am-fr">
                                <div class="am-pagination tpl-pagination">
                                    {$page}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript">
    </script>
</block>