<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="__PUBLIC__/pc/css/cur.css">
    <link rel="stylesheet" href="__PUBLIC__/pc/css/iconfont.css">
    <link rel="stylesheet" href="__PUBLIC__/pc/css/swiper.min.css">
    <link href="__PUBLIC__/mobile/css/mui.min.css" rel="stylesheet" />
    <block name="style">
        <title>{:C('WEB_TITLE')}</title>
    </block>

</head>
<!-- 内容 -->
<block name="body"></block>
<script type="text/javascript" src="__PUBLIC__/pc/js/iconfont.js"></script>
<script type="text/javascript" src="__PUBLIC__/pc/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/mobile/js/mui.min.js"></script>
<script src="__PUBLIC__/mobile/js/public.js" type="text/javascript" charset="utf-8"></script>
<block name="script"></block>
</html>