<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="__PUBLIC__/mobile/css/mui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/pc/css/cur.css">
    <link rel="stylesheet" href="__PUBLIC__/pc/css/iconfont.css">
    <link rel="stylesheet" href="__PUBLIC__/pc/css/swiper.min.css">
    <title>{:C('APP_NAME')}</title>
</head>
<!-- 内容 -->
<block name="body"></block>
<script type="text/javascript" src="__PUBLIC__/pc/js/iconfont.js"></script>
<script type="text/javascript" src="__PUBLIC__/pc/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/mobile/js/mui.min.js"></script>
<!--<script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
<script type="text/javascript" src="__STATIC__/js/common.js"></script>
<script type="text/javascript" src="__STATIC__/js/ajaxForm.js"></script>-->
<script src="__PUBLIC__/mobile/js/public.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/mobile/js/url.js"></script>
<script>
    $('.header').on('click', '.h-outbtn', function () {
        mui.confirm('您是否退出登录?', '提示', '', function(e) {
            if (e.index == 1) {
                mui.ajax(url + 'Home/Login/logOut',{
                    dataType:'json',//服务器返回json格式数据
                    type:'get',//HTTP请求类型
                    timeout:10000,//超时时间设置为10秒；
                    headers:{'Content-Type':'application/json'},
                    success:function(data){
                        mui.toast(data['info']);
                        if(data['status'] == 1){
                            setTimeout(function(){
                                mui.openWindow({
                                    url:  url + '/Home/index/index'
                                });
                            }, 1000);
                        }
                    },
                    error:function(xhr,type,errorThrown){
                        //异常处理；
                        console.log(type);
                    }
                });
            }else{
                mui.alert('您取消了操作');
            }

        })
    })
</script>
<block name="script"></block>
</html>