<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="__PUBLIC__/pc/css/cur.css">


    <link rel="stylesheet" href="__PUBLIC__/pc/css/iconfont.css">
    <link rel="stylesheet" href="__PUBLIC__/pc/css/swiper.min.css">
    <block name="style">

    </block>
</head>

<block name="body"></block>

<script type="text/javascript" src="__PUBLIC__/pc/js/iconfont.js"></script>
<script type="text/javascript" src="__PUBLIC__/pc/js/jquery-3.1.1.min.js"></script>
<block name="script"></block>

</html>