<head name="header">
<div class="header">
    <div class="head w1200 cf">
        <a class="h-logo fl">
            <img src="__PUBLIC__/pc/images/logo.png" />
        </a>
        <div class="h-user fr cf">
            <div class="user-i fl">
                <span><img src="images/"></span>
                <p>图图</p>
            </div>
            <i class="iconfont icon-nav_icon_dropdown fl">
                <button class="h-outbtn">退出</button>
            </i>
        </div>
    </div>
</div>
</head>