<head name="header">
<div class="header">
    <style>
        #upload{
            border: none;
            z-index: 99;
            position: absolute;
            overflow: hidden;
            opacity: 0;
            -ms-filter: 'alpha(opacity=0)';
            width: 100px;
            height: 100px;
            top: 0;
            left: 0;
        }
    </style>
    <div class="head w1200 cf">
        <a class="h-logo fl">
            <img  src="__PUBLIC__/pc/images/logo.png" />
        </a>
        <if condition="empty(session('user_auth'))">
            <button class="login fr">登录</button>
            <else />
            <div class="h-user fr cf">
                <div class="user-i fl">
                    <span><img id="head-img" src="{:session('user_auth')['head_pic']}"></span>
                    <input type="file" id="upload" accept="image/jpeg, image/gif" />
                    <p>{:session('user_auth')['nick_name']}</p>
                </div>
                <i class="iconfont icon-nav_icon_dropdown fl">
                    <button class="h-outbtn">退出</button>
                </i>
            </div>
        </if>
    </div>
</div>
</head>
<script type="text/javascript" src="__PUBLIC__/pc/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/fileupload/js/vendor/jquery.ui.widget.js"></script>
<script type="text/javascript" src="__PUBLIC__/fileupload/js/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="__PUBLIC__/fileupload/js/jquery.fileupload.js"></script>

<script>
    function logOut()
    {
        mui.confirm('您是否退出登录?', '提示', '', function(e) {
            if (e.index == 1) {
                mui.ajax(url + 'Home/Login/logOut',{
                    dataType:'json',//服务器返回json格式数据
                    type:'get',//HTTP请求类型
                    timeout:10000,//超时时间设置为10秒；
                    headers:{'Content-Type':'application/json'},
                    success:function(data){
                        mui.toast(data['info']);
                        if(data['status'] == 1){
                            setTimeout(function(){
                                mui.openWindow({
                                    url:  url + '/Home/index/index'
                                });
                            }, 1000);
                        }
                    },
                    error:function(xhr,type,errorThrown){
                        //异常处理；
                        console.log(type);
                    }
                });
            }else{
                mui.alert('您取消了操作');
            }

        })
    }
    $('#upload').fileupload({
        url: "{:U('User/uploadImg')}",
        dataType: 'json',
        done: function (e, data) {
            $('#head-img').attr('src',data.result.data.nameosspath);
            mui.toast('更换成功');
        }
    });
</script>