<head name="header">
<div class="header">
    <div class="head w1200 cf">
        <a class="h-logo fl">
            <img  src="__PUBLIC__/pc/images/logo.png" />
        </a>
        <if condition="empty(session('user_auth'))">
            <button class="login fr">登录</button>
            <else />
            <div class="h-user fr cf">
                <div class="user-i fl">
                    <span><img src="{:session('user_auth')['head_pic']}"></span>
                    <p>{:session('user_auth')['nick_name']}</p>
                </div>
                <i class="iconfont icon-nav_icon_dropdown fl">
                    <button class="h-outbtn">退出</button>
                </i>
            </div>
        </if>
    </div>
</div>
</head>