<nav name="nav">
    <div class="nav">
        <a href="{:U('Task/listTask')}" class="nav-link nav-active">
            <i class="iconfont icon-leftbar_icon_jdzq_n"></i>
            接单赚钱
        </a>
        <a href="{:U('Task/addTask')}" class="nav-link">
            <i class="iconfont icon-leftbar_icon_publish"></i>
            发布任务
        </a>
        <a href="{:U('User/friendQequest')}" class="nav-link">
            <i class="iconfont icon-leftbar_icon_invitef"></i>
            邀请好友
        </a>
        <a href="{:U('TaskLog/getTaskLog')}" class="nav-link">
            <i class="iconfont icon-leftbar_icon_mytask_"></i>
            我的任务
        </a>
        <a href="{:U('User/getRankList')}" class="nav-link">
            <i class="iconfont icon-leftbar_icon_rank_n"></i>
            排行榜
        </a>
        <a href="{:U('User/personalCenter')}" class="nav-link">
            <i class="iconfont icon-leftbar_icon_my_n"></i>
            个人中心
        </a>
        <a href="{:U('Task/myTask')}" class="nav-link">
            <i class="iconfont icon-leftbar_icon_mypubli"></i>
            我的发布
        </a>
        <a href="{:U('Pay/myWallet')}" class="nav-link">
            <i class="iconfont icon-leftbar_icon_mywalle"></i>
            我的钱包
        </a>
        <a href="{:U('Pay/incomeDividends')}" class="nav-link">
            <i class="iconfont icon-leftbar_icon_income_"></i>
            收入分红
        </a>
        <a href="{:U('User/partners')}" class="nav-link">
            <i class="iconfont icon-leftbar_icon_coopera"></i>
            合作商
        </a>
        <a href="{:U('Help/questionList')}" class="nav-link">
            <i class="iconfont icon-leftbar_icon_questio"></i>
            常见问题
        </a>
        <a href="{:U('Feedback/feedback')}" class="nav-link">
            <i class="iconfont icon-leftbar_icon_opinion"></i>
            意见反馈
        </a>
        <a href="{:U('Article/articleDetail',array('category_id'=>4))}')}" class="nav-link">
            <i class="iconfont icon-leftbar_icon_useragr"></i>
            用户协议
        </a>
    </div>
</nav>
