<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>接单赚钱</title>
    <link href="__PUBLIC__/mobile/css/mui.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile/css/style.css"/>
    <style type="text/css">
        .get-order-list div {
            display: flex;
            flex-wrap: wrap;
            justify-content: unset;
        }
        .get-order-list div .get-order-single {
            width: 17%;
            margin: 4px;
        }
        .mui-segmented-control.mui-scroll-wrapper {
            height: 1.4rem;
            padding-top: .1rem;
        }
    </style>
</head>
<body style="background: #F6F6F6">
    <header class="mui-bar mui-bar-nav help-duck-head">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <p class="mui-title">接单赚钱</p>
        <a href="{:U('TaskLog/getTaskLog')}">我的任务</a>
    </header>

    <div class="order-search">
        <div class="mui-input-row mui-search order-search-placeholder">
            <input class="mui-input-clear order-search-column" type="search" >
            <span class="mui-icon mui-icon-clear mui-hidden"></span>
            <span class="mui-placeholder ">
                <span class="mui-icon mui-icon-search"></span>
                <span class="order-search-pleacefont">搜索 任务id/标题</span>
            </span>
        </div>
    </div>

    <div class="get-order-list">
        <div>
            <p data-id="0" class="get-order-single get-order-single-check">全部</p>
        <foreach name="taskCategory" item="v">
            <p data-id="{$v['id']}" class="get-order-single">{$v['category_name']}</p>
        </foreach>
        </div>
    </div>

    <div class="get-order-topshop">
        <p class="topshop-title"><span>置顶</span><span>店铺</span></p>
        <div class="topshop-headimg mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
            <div class="mui-scroll">
                <div class="topshop-headimg">
                    <foreach name="topShop" item="v">
                        <a href="{:U('Shop/shopDetail',array('user_id'=>$v['user_id']))}" class="topshop-single">
                            <img class="headimg-show" src="__PUBLIC__/mobile/images/home_jdzq_img_shop.png">
                            <img src="{$v.shop_img}">
                            <p>{$v.shop_name}</p>
                        </a>
                    </foreach>
                </div>

            </div>

        </div>
    </div>

    <div id="mui-box" class="mui-content">
        <div id="get-order-choose" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-primary" >
            <a data-order="1" class="mui-control-item mui-active">
                最新
            </a>
            <a data-order="2" class="mui-control-item">
                综合
            </a>
            <a data-order="3" class="mui-control-item">
                优先
            </a>
            <a data-order="4" class="mui-control-item">
                人气
            </a>
            <a data-order="5" class="mui-control-item">
                苹果
            </a>
        </div>
    </div>

    <div>
        <div class="mui-control-content mui-active" id="getorder-item1">
            <div class="mui-scroll-content">
                <div class="mui-scroll">
                    <ul class="mui-table-view">

                        <volist name="taskInfo" id="vo">
                            <li class="mui-table-view-cell get-order-li" data-task="{$vo.id}">
                                <div class="orders-details">
                                    <img src="{$vo.category_img}">
                                    <div class="orders-details-info">
                                        <div>
                                            <p>{$vo.category_name}</p>
                                            <if condition="$vo.top eq 1">
                                                <img src="__PUBLIC__/mobile/images/home_jdzq_icon_top.png">
                                            </if>
                                            <if condition="$vo.shop_accounts gt 0">
                                            <img src="__PUBLIC__/mobile/images/home_jdzq_icon_promise.png">
                                            </if>
                                            <if condition="$vo.ret eq 1">
                                                <img src="__PUBLIC__/mobile/images/home_jdzq_icon_tuijian@2x.png">
                                            </if>
                                        </div>
                                        <span>{$vo.title}</span>
                                        <span>编号：{$vo.id}</span>
                                    </div>
                                </div>
                                <span>￥{$vo['price']}</span>
                            </li>
                        </volist>

                    </ul>
                </div>
                <div class="mui-scrollbar mui-scrollbar-vertical">
                    <div class="mui-scrollbar-indicator"></div>
                </div>
            </div>
        </div>
    </div>

    <a  class="task-limit" href="{:U('User/getRankList')}">
        <img src="__PUBLIC__/mobile/images/home_jdzq_btn_rank.png">
    </a>

</body>
<script src="__PUBLIC__/mobile/js/mui.min.js"></script>
<script src="__PUBLIC__/mobile/js/jquery-3.0.0.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/mobile/js/public.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
    mui.init();
    var category_id = "{:I('taskCategoryId', 0, 'intval');}";
    var typeOrder = "{:I('typeOrder', 0, 'intval');}";
    var p = 1;
    $('.get-order-list').on('tap', '.get-order-single', function () {
        category_id = $(this).data('id');
        typeOrder = $('#get-order-choose .mui-active').data('order');
        $('.get-order-single').removeClass('get-order-single-check');
        $(this).addClass('get-order-single-check');
        ajaxGetInfo("{:U('listTask')}", {'taskCategoryId':category_id,'typeOrder':typeOrder});

    })
    function ajaxGetInfo(url, json_data) {
        $.post(url, json_data, function (data) {
            if (data.status == 1) {
                p = 1;
                var html1 = '';
                if (data.data.length > 0) {

                    for (var i=0; i < data.data.length; i++) {
                        html1 += '<li class="mui-table-view-cell get-order-li" data-task="'+data.data[i].id+'">'+
                            '<div class="orders-details">'+
                            '<img src="'+data.data[i].category_img+'">'+
                            '<div class="orders-details-info">'+
                            '<div>'+
                            '<p>'+data.data[i].category_name+'</p>';
                        if (data.data[i].top) {
                            html1 += '<img src="__PUBLIC__/mobile/images/home_jdzq_icon_top.png">';
                        }
                        if (data.data[i].shop_accounts > 0) {
                            html1 += '<img src="__PUBLIC__/mobile/images/home_jdzq_icon_promise.png">';
                        }
                        if (data.data[i].ret == 1) {
                            html1 += '<img src="__PUBLIC__/mobile/images/home_jdzq_icon_tuijian@2x.png">';
                        }
                        html1 +='</div>'+
                            '<span>'+data.data[i].title+'</span>'+
                            '<span>编号：'+data.data[i].id+'</span>'+
                            '</div>'+
                            '</div>'+
                            '<span>￥'+data.data[i].price+'</span>'+
                            '</li>';
                    }

                } else {
                    mui.toast('没有更多了');
                }

                $("#getorder-item1 .mui-table-view").html(html1);
                loadMore();
            }
        });
    }
    $('.mui-control-item').on('click', function () {
        typeOrder = $(this).data('order');
        category_id = $('.get-order-list .get-order-single-check').data('id');
        console.log(typeOrder);
        ajaxGetInfo("{:U('listTask')}", {'taskCategoryId':category_id,'typeOrder':typeOrder});

    })

    //滚动加载
    function loadMore() {
        $(window).on('scroll', function() {

            if($(document).scrollTop() >= $(document).height() - $(window).height()) {
                    var keyword = $('.order-search-column').val();
                    if (keyword) {
                        var load_data = {
                            keyword: keyword,
                        }
                    } else {
                        var load_data = {
                            taskCategoryId: category_id,
                            typeOrder: typeOrder
                        }
                    }
                p++;
                var load_url = "{:U('listTask')}/p/"+p;

                $.post(load_url, load_data, function(data) {
                    var html2 = '';
                    if(data.status == 1) {
                    console.log(data.data);
                        if (data.data.length) {
                            for (var i=0; i < data.data.length; i++) {
                                html2 += '<li class="mui-table-view-cell get-order-li" data-task="'+data.data[i].id+'">'+
                                    '<div class="orders-details">'+
                                    '<img src="'+data.data[i].category_img+'">'+
                                    '<div class="orders-details-info">'+
                                    '<div>'+
                                    '<p>'+data.data[i].category_name+'</p>';
                                if (data.data[i].top == 1) {
                                    html2 += '<img src="__PUBLIC__/mobile/images/home_jdzq_icon_top.png">';
                                }
                                if (data.data[i].shop_accounts > 0) {
                                    html2 += '<img src="__PUBLIC__/mobile/images/home_jdzq_icon_promise.png">';
                                }
                                if (data.data[i].ret == 1) {
                                    html2 += '<img src="__PUBLIC__/mobile/images/home_jdzq_icon_tuijian@2x.png">';
                                }
                                html2 +='</div>'+
                                    '<span>'+data.data[i].title+'</span>'+
                                    '<span>编号：'+data.data[i].id+'</span>'+
                                    '</div>'+
                                    '</div>'+
                                    '<span>￥'+data.data[i].price+'</span>'+
                                    '</li>';
                            }
                        } else {
                            $(window).off('scroll');
                        }
                        $("#getorder-item1 .mui-table-view").append(html2);

                    }

                });
            }
        });
    }
    loadMore();
    //搜索
    $('.order-search-column').blur(function () {
        var keyword = $('.order-search-column').val();
        if (keyword) {
            ajaxGetInfo("{:U('listTask')}", {'keyword':keyword});

        }
    });

    //详情
    $("#getorder-item1").on('tap', '.get-order-li', function () {
        var id = $(this).data('task');
       window.location.href = "{:U('Task/taskDetail')}/id/"+id;
    });
</script>

</html>