<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>发布任务</title>
    <link href="__PUBLIC__/mobile/css/mui.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile/css/style.css"/>
</head>
<body>
    <header class="mui-bar mui-bar-nav help-duck-head">
        <a class=" mui-icon mui-icon-left-nav mui-pull-left" href="{:U('User/personalCenter')}"></a>
        <p class="mui-title">我的任务</p>
    </header>

    <div class="mui-content">
        <div id="makemoney-none" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-primary make-money-choose-none" >
            <a id="task-order-get" class="mui-control-item <if condition="$type eq 5">mui-active</if>  make-money" onclick="task(5)">
                <p>接单任务</p>
            </a>
            <a id="task-order-records" class="mui-control-item  <if condition="$type eq 4">mui-active</if>  make-money" onclick="task(4)">
                <p>接单记录</p>
            </a>
        </div>
    </div>

    <div>
        <div id="makemoney-item1" class="mui-control-content mui-active">
            <div id="makemoney-info" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-primary make-money-info-none" >
                <a class="mui-control-item  <if condition="$type eq 5">mui-active</if> make-money-info" onclick="task(5)" >
                    全部
                </a>
                <a class="mui-control-item  <if condition="$type eq 0">mui-active</if>   make-money-info-none" onclick="task(0)" >
                    待提交
                </a>
                <a class="mui-control-item  <if condition="$type eq 1">mui-active</if>   make-money-info-none" onclick="task(1)">
                    审核中
                </a>
                <a class="mui-control-item  <if condition="$type eq 2">mui-active</if>   make-money-info-none" onclick="task(2)">
                    不合格
                </a>
                <a class="mui-control-item <if condition="$type eq 3">mui-active</if>   make-money-info-none" onclick="task(3)">
                    已完成
                </a>
            </div>
        </div>
    </div>

    <div id="task-hiden">
        <div id="makemoney-info-item1" class="mui-control-content mui-active">
            <div class="mui-scroll-content">
                <div class="mui-scroll">
                    <ul id="list" class="mui-table-view make-money-info">

                        <foreach name="taskLogInfo['list']" item="v">
                            <li class="mui-table-view-cell make-money-info-li">
                                <div class="task-info-left" onclick="taskDetail({$v['id']})">
                                    <img src="{$v['category_img']}">
                                    <div class="task-info-basic">
                                        <div class="task-basic-top">
                                            <p>{$v['category_name']}</p>
                                            <span>{$v['task_name']}</span>
                                        </div>
                                        <div class="task-basic-bottom">
                                            <span>编号：<i>{$v['task_id']}</i></span>
                                            <span>单价：<i>￥{:fen_to_yuan($v['price'])}</i></span>
                                        </div>
                                    </div>
                                </div>
                                <if condition="$type eq 4">
                                    <input class="order-task-del" type="button" value="删除" onclick="del({$v['id']})">
                                    <else />
                                    <if condition="$v['valid_status'] eq 0">
                                    <label name="caozuo" class="upload-verification" onclick="verify({$v['id']})">上传验证</label>
                                    <elseif condition="$v['valid_status'] eq 1"/><label  name="caozuo"  class="audit-ing">审核中</label>
                                    <elseif condition="$v['valid_status'] eq 2"/><label  name="caozuo" onclick="fail({$v[id]})" class="no-qualified">不合格</label>
                                    <else /><label name="caozuo"   class="task-finshed">已完成</label>
                                    </if>
                                </if>

                            </li>
                        </foreach>
                        <if condition="empty($taskLogInfo['list'])">
                            <div class="mui-control-content">
                                <ul class="mui-table-view make-money-info task-order-record">
                                    <li class="mui-table-view-cell  make-money-info-li-none">
                                        <p>提示：仅显示最后一个月的数据信息哦</p>
                                    </li>
                                </ul>
                                <div class="mui-scrollbar mui-scrollbar-vertical">
                                    <div class="mui-scrollbar-indicator"></div>
                                </div>
                            </div>
                        </if>
                    </ul>
                </div>
                <div class="mui-scrollbar mui-scrollbar-vertical">
                    <div class="mui-scrollbar-indicator"></div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="__PUBLIC__/mobile/js/mui.min.js"></script>
<script src="__PUBLIC__/mobile/js/url.js"></script>
<script src="__PUBLIC__/mobile/js/jquery-3.0.0.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
    mui.init();
    var p = 1;
    var type = 5;
    /*跳转链接*/
    function task(type){
        $('#list').innerHTML =  '';
        p = 1;
        window.location.href = "{:U('TaskLog/getTaskLog')}/type/"+type +'/p/' + p;
        loadMore();
    }
    if("{$type}" == 4){
        $('#makemoney-info').hide();
    }
    /*删除操作*/
    function del(id){
        mui.confirm('您是否要删除该条任务?', '提示', '', function(e) {
            if (e.index == 1) {
                mui.ajax(url + 'Mobile/TaskLog/delTaskLog/id/' + id,{
                    dataType:'json',//服务器返回json格式数据
                    type:'get',//HTTP请求类型
                    timeout:10000,//超时时间设置为10秒；
                    headers:{'Content-Type':'application/json'},
                    success:function(data){
                        mui.toast(data['info']);
                        // alert(JSON.stringify(data));
                        if(data['status'] == 1){
                            setTimeout(function(){
                                mui.openWindow({
                                    url:  url + 'Mobile/TaskLog/getTaskLog/type/5'
                                });
                            }, 1000);
                        }
                    },
                    error:function(xhr,type,errorThrown){
                        //异常处理；
                        console.log(type);
                    }
                });
            } else {
                mui.alert('您取消了操作');
            }

        })
    }
    /*上传验证*/
    function verify(id){
        window.location.href = "{:U('TaskLog/taskVerify')}/id/"+id;
    }
    /*不合格*/
    function fail(id){
        mui.openWindow({
            url:  url + 'Mobile/TaskLog/taskLogFail/id/' + id
        });
    }
    function taskDetail (log_id) {
        window.location.href = "{:U('TaskLog/taskLogDetail')}/id/"+log_id;
    }
    //滚动加载
    function loadMore() {
        $(window).on('scroll', function() {
            if($(document).scrollTop() >= $(document).height() - $(window).height()) {
                var type = $('#type').val();
                    var load_data = {
                        type: type,
                    }
                p++;
                var load_url = "{:U('getTaskLog')}/p/"+p;

                $.post(load_url, load_data, function(data) {
                    var html2 = '';
                    if(data.status == 1) {
                        console.log(data.data);
                        if (data.data.length) {
                            for (var i=0; i < data.data.length; i++) {

                            html2 += '<li class="mui-table-view-cell make-money-info-li">'
                                    +'<div class="task-info-left" onclick="taskDetail('+data.data[i].task_id+')">'
                                    +'<img src="'+ data.data[i].category_img +'">'
                                    +'<div class="task-info-basic">'
                                    +'<div class="task-basic-top">'
                                    +'<p>'+ data.data[i].category_name +'</p>'
                                    +'<span>'+ data.data[i].task_name +'</span>'
                                    +'</div>'
                                    +'<div class="task-basic-bottom">'
                                    +'<span>编号：<i>'+ data.data[i].task_id +'</i></span>'
                                +'<span>单价：￥<i>'+ data.data[i].price +'</i></span>'
                                +'</div>'
                                +'</div>'
                                +'</div>';
                                if (type == 4) {
                                    html2+='<input class="order-task-del" type="button" value="删除"></li>';
                                } else if (data.data[i].valid_status == 0) {
                                    html2+='<label name="caozuo" class="upload-verification" onclick="verify('+data.data[i].id+')">上传验证</label>';
                                } else if (data.data[i].valid_status == 1) {
                                    html2+='<label  name="caozuo"  class="audit-ing">审核中</label>';
                                } else if (data.data[i].valid_status == 2) {
                                    html2+='<label  name="caozuo"  class="no-qualified">不合格</label>';
                                } else if (data.data[i].valid_status == 3) {
                                    html2+='<label  name="caozuo"  class="task-finshed">已完成</label>';
                                }

                            }
                        } else {
                            $(window).off('scroll');
                        }

                        $("#task-hiden .mui-table-view").append(html2);

                    }

                });
            }
        });
    }
    loadMore();

</script>
</html>