<extend name="Common/base"/>
<block name="style">

</block>

<block name="body">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title  am-cf">单元测试</div>

                    </div>
                    <div class="widget-body  am-fr">

                        <div class="am-u-sm-12 am-u-md-12 am-u-lg-7">
                            <div class="am-form-group">
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">
                                        <button type="button" class="am-btn am-btn-primary am-btn-warning " onclick="goback();">返回</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form action="__SELF__" method="get">
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-2">
                                <div class="am-form-group tpl-table-list-select">
                                    <select name="class_id" data-am-selected="" id="class_id">
                                        <option value="0">选择课程</option>
                                        <foreach name="course_class" item="v">
                                            <option value="{$v['id']}">{$v['class_name']}</option>
                                        </foreach>
                                        <script>
                                            $('#class_id').val({$class_id});
                                        </script>
                                    </select>
                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-2">
                                <div class="am-form-group tpl-table-list-select">
                                    <select name="unit_id" data-am-selected="" id="unit_id">
                                        <option value="0">选择单元</option>
                                        <foreach name="course_unit" item="v">
                                            <option value="{$v['id']}">{$v['unit']}</option>
                                        </foreach>
                                        <script>
                                            $('#unit_id').val({$unit_id});
                                        </script>
                                    </select>
                                </div>
                            </div>
                            <span class="am-input-group-btn">
                                        <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="submit"></button>
                                        <a class="am-btn  am-btn-default am-btn-danger tpl-table-list-field am-icon-refresh" type="button" href="__ACTION__/user_id/{$user_id}"></a>
                                    </span>
                        </form>

                        <div class="am-u-sm-12">
                            <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                                <thead>
                                    <tr>
                                        <th width="4%" class="align-center">序号</th>
                                        <th width="9%" class="align-center">课程名称</th>
                                        <th width="9%" class="align-center">单元名称</th>
                                        <th width="8%" class="align-center">学习时间</th>
                                        <th width="8%" class="align-center">掌握单词</th>
                                        <th width="8%" class="align-center">正确单词</th>
                                        <th width="8%" class="align-center">错误单词</th>
                                        <th width="8%" class="align-center">听力得分</th>
                                        <th width="8%" class="align-center">默写得分</th>
                                        <th width="8%" class="align-center">听写用时</th>
                                        <th width="8%" class="align-center">默写用时</th>
                                        <th class="align-center">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <foreach name="list" item="v">
                                        <tr class="gradeX">
                                            <td class="align-center">{$v['unit_id']}</td>
                                            <td class="align-center">{$v['class_name']}</td>
                                            <td class="align-center">{$v['unit']}</td>
                                            <td class="align-center">{$v['learned_time']}</td>
                                            <td class="align-center">{$v['master_word_num']}</td>
                                            <td class="align-center">{$v['right_word_num']}</td>
                                            <td class="align-center">{$v['wrong_word_num']}</td>
                                            <td class="align-center">{$v['hearing_score']}</td>
                                            <td class="align-center">{$v['writing_score']}</td>
                                            <td class="align-center">{$v['hearing_used_time']}</td>
                                            <td class="align-center">{$v['writing_used_time']}</td>
                                            <td class="align-center">
                                                <div class="tpl-table-black-operation">
                                                <a href="{:U('UserCourse/listUserTestResultDetail', array('unit_id'=>$v['unit_id']))}"> <i class="am-icon-eye"></i> 测试详情 </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </foreach>
                                </tbody>
                            </table>
                            <empty name="list">
                                <h4>aOh! 没有相关内容!</h4>
                            </empty>
                        </div>
                        <div class="am-u-lg-12 am-cf">

                            <div class="am-fr">
                                <div class="am-pagination tpl-pagination">
                                    {$page}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript">
    </script>
</block>