<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>发布任务</title>
    <link href="__PUBLIC__/mobile/css/mui.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile/css/style.css"/>
    <style type="text/css">
        .weui-uploader__bd{width: 100%;}
        .weui-uploader__files{  overflow: hidden;  width: 98%;  margin: auto;  text-align: center;  }
        .weui-uploader__file{  float: left;  width: 33%;  text-align: center;  position: relative;  }
        .weui-uploader__file img{  width: 2rem;  height:2rem;  }
        .weui-uploader__file .file-del{  position: absolute;  top:1px;  right: 0;  }
        .weui-uploader__file .file-del a{  color: #fff;  background-color: rgba(0,0,0,.3);  padding: 2px 7px;  border-radius: 15px;cursor:pointer  }
        .weui-uploader__input-box{ position: relative;
            overflow: hidden; float: left;}
        #upload{
            border: none;
            z-index: 99;
            position: absolute;
            overflow: hidden;
            opacity: 0;
            -ms-filter: 'alpha(opacity=0)';
            width: 100px;
            height: 100px;
            top: 0;
            left: 0;
        }
        .task-submit-detail textarea{
            background: #fff;
            padding: .2rem .3rem;
            width: 100%;
            height: 3.4rem;
            border: none;
        }
        .uploader-img {
            border: none;
            z-index: 99;
            position: absolute;
            overflow: hidden;
            opacity: 0;
            -ms-filter: 'alpha(opacity=0)';
            left: 1.5rem;
            width: 1.1rem;
            height: 1.1rem;
            margin-right: .24rem;
        }
        .step-text {
            border: none;
        }
        .task-type-list .task-type-row {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: .32rem;
        }
        .task-type-basic .task-basic-row .task-basic-title,
        .task-basic-row .task-min .task-basic-num,
        .task-basic-row .task-min .task-basic-all {

            font-size: .28rem;
            color: #555;
        }

        .task-type-basic .task-basic-row .task-basic-title {
            width: 1rem;
        }

        .task-basic-row .task-min .task-basic-num {
            width: 1rem;
        }

        .task-basic-row .task-min .task-basic-all {
            width: 1rem;
        }

        .task-basic-row .task-title-inp::placeholder {
            text-align: left;
        }
        .task-basic-row .task-title-inp {
            text-align: left;
        }

        .task-basic-row .task-price-inp {
            width: 2.5rem;
        }

        .task-basic-row .task-service-inp {
            width: 2.5rem;
        }

        .task-basic-row .task-basic-price {
            width: 1rem;
        }
    </style>
    <script src="__PUBLIC__/mobile/js/jquery-3.0.0.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ajaxupload/ajaxupload.js?v=1.0"></script>

    <script type="text/javascript" src="__PUBLIC__/fileupload/js/vendor/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="__PUBLIC__/fileupload/js/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="__PUBLIC__/fileupload/js/jquery.fileupload.js"></script>
    <script>
        UPLOAD_IMG_URL = "{:U('uploadImg')}";
        function ajaxUpload(btnUpload, inputImg, savePath, item){
            var filename = ""; // 旧文件的文件名
            var oldImg = $(inputImg).val();
            if($.trim(oldImg) != "" && oldImg.indexOf('/') != -1){
                var arr = oldImg.split('/');
                var file = arr[arr.length - 1];
                filename = file.split('.')[0];
            }

            if(!savePath) savePath = "";  // 要存放的路径

            new AjaxUpload($(btnUpload), {
                action: "{:U('uploadImg')}",
                name: 'photo',   //这相当于<input type = "file" name = "photo"/>
                data:{},  //附加参数值
                dataType : 'text',
                onSubmit : function(file, ext){
                    if(!(ext && /^(jpg|png|gif|jpeg)$/.test(ext.toLowerCase()))){
                        toastr('图片格式不支持, 请上传jpg, png, gif, jpeg格式图片');
                        return false;
                    }
                    this.setData({'oldImg':filename, 'savePath':savePath});
                    this.disable();
                },
                onComplete: function(file, response){
                    json = $.parseJSON($(response).text());

                    if(json['status'] == true || json['status'] == 1 || json['status'].toString() == '1'){
                        $("#img_" + item).attr('src', json['data']['nameosspath']).show();
                        $("#img" + item).val(json['data']['nameosspath']);
                        $('#btn_delete_' + item).show();
                    }else{
                        toastr(json['msg'])
                    }
                    this.enable();
                }
            });
        }
    </script>
</head>
<body style="background: #f6f6f6">
    <header class="mui-bar mui-bar-nav help-duck-head">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <p class="mui-title">发布任务</p>
        <a href="{:U('Article/articleDetail',array('category_id'=>3))}">发布规则</a>
    </header>
    <form action="{:U('addTask')}" method="post" class="ajaxFrom">

        <div class="task-type-title">
            <span>选择类型</span>
            <a href="{:U('Article/articleDetail',array('category_id'=>2))}"><p>类别说明</p></a>
        </div>

        <div class="task-type-list">
            <div class="task-type-row">
            <foreach name="taskCategoryInfo" item="v" key="k">
                <div class="task-type-single">
                    <if condition="($id eq 0) AND($k eq 0) ">
                        <input class="cate_{$k}" data-money="{$v.limit_money}" data-num="{$v.limit_num}" name="task[category_id]" type="radio" checked value="{$v.id}">
                        <else/>
                        <input class="cate_{$k}" data-money="{$v.limit_money}" data-num="{$v.limit_num}" name="task[category_id]" type="radio" {$v['id'] == $taskInfo['category_id'] ? 'checked':''} value="{$v.id}">
                    </if>

                    <label>{$v.category_name}</label>

                </div>
            </foreach>
            </div>
        </div>
        <div class="task-type-info">
            <div class="task-choose-system">
                <p>支持设备</p>
                <div class="phone-sysytem">
                    <div>
                        <input type="radio" name="task[mobile_type]" value="全部" <if condition="$taskInfo['mobile_type'] eq '全部'">checked<else/></if>>
                        <label>全部</label>
                    </div>
                    <div>
                        <input type="radio" name="task[mobile_type]" value="安卓" <if condition="$taskInfo['mobile_type'] eq '安卓'">checked<else/></if> >
                        <label>安卓</label>
                    </div>
                    <div>
                        <input type="radio" name="task[mobile_type]" value="苹果" <if condition="$taskInfo['mobile_type'] eq '苹果'">checked<else/></if>>
                        <label>苹果</label>
                    </div>
                </div>
            </div>
            <div class="task-type-basic">
                <div class="task-basic-row">
                    <div>
                        <p class="task-basic-title">标题</p>
                        <input class="task-title-inp" value="{$taskInfo['title']}" id="task_title" type="text"  name="task[title]" placeholder="请您输入任务标题" style="padding-left: .24rem;width: 7rem;">
                    </div>
                </div>

                <a  class="task-basic-row">
                   <div>
                       <span>截止时间</span>
                       <input value="{$taskInfo['end_time']|time_format}" type="text" id="end_time" name="task[end_time]" placeholder="请选择结束时间" readonly>
                   </div>
                    <img src="__PUBLIC__/mobile/images/common_icon_more.png">
                </a>

                <div class="task-basic-row">
                   <div class="task-min">
                       <div>
                           <p class="task-basic-price">出价</p>
                           <span>最低出价<i id="limit_money">{$limitData['limit_money']}</i>元</span>
                       </div>
                   </div>
                    <div>
                        <input class="task-price-inp" type="text" name="task[price]" id="price" value="<if condition="$taskInfo['id'] gt 0">{:fen_to_yuan($taskInfo['price'])}<else/></if> ">
                        <p>元</p>
                    </div>
                </div>

                <div class="task-basic-row">
                    <div class="task-min">
                        <div>
                            <p class="task-basic-num">数量</p>
                            <span>最少<i id="limit_num">{$limitData['limit_num']}</i>单</span>
                        </div>
                    </div>
                    <div>
                        <input type="number" name="task[task_num]" id="task_num" value="{$taskInfo['task_num']}">
                        <p>单</p>
                    </div>
                </div>

                <div class="task-basic-row">
                    <div class="task-min">
                        <div>
                            <p class="task-basic-all">合计</p>
                            <span>服务费：成交额{$orderFee}%，最低1元</span>
                        </div>
                    </div>
                    <div>
                        <input class="task-service-inp" disabled="disabled" type="number" value="{:fen_to_yuan($taskInfo['total_price'])}" id="total_price">
                        <p>元</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="task-audit-imgs">
            <p>审核图样</p>
            <span>上传验证图样例，<i>最多可上传5张</i></span>
        </div>

        <div class="weui-uploader__bd task-audit-imgs-add">
            <ul class="weui-uploader__files" id="uploaderFiles">
                <li class="weui-uploader__input-box" >
                    <img src="__PUBLIC__/mobile/images/common_icon_addpicture.png">
                    <input id="upload" class="weui-uploader__input" type="file" accept="image/*">
                </li>
                <volist name="taskInfo['check_info']" id="v">
                    <li class="weui-uploader__file" ><img src="{$v}"><div class="file-del"><a href="javascript:void(0)" onclick="delPic(this)">X</a></div>
                    <input type="hidden" name="step[0][][step_img]" value="{$v}">
                    </li>
                </volist>
            </ul>
        </div>
        <div class="mui-table-view-cell mui-collapse task-operation-explain <if condition='$id neq 0'> mui-active <else/> </if>">
            <a class="mui-navigate-right">操作说明</a>
            <div class="mui-collapse-content">
                <div class="step-content">
                    <volist name="taskInfo['step_info']" id="v" key = "k">
                        <div class="task-operation-row1">
                            <div>
                                <p>{$k}</p>
                                <p class="del-item" data-num="{$k}" id="del_{$k-1}">删除</p>
                            </div>
                            <img id="img_{$k-1}" src="{$v['step_img']}" onerror="this.src='__PUBLIC__/mobile/images/common_icon_addpicture_small.png'">
                            <button id="btnUpload_{$k-1}" type="button" class="uploader-img"></button>
                            <input id="img{$k-1}" type="hidden" name="step[1][{$k-1}][step_img]" value="{$v['step_img']}">
                            <textarea name="step[1][{$k-1}][step_text]" class="step-text" placeholder="请填写步骤" id="step_text_{$k-1}">{$v['step_text']}</textarea>
                        </div>
                        <script>
                            var m = "{$k-1}";
                            $('.del-item').hide();
                            $("#del_"+m).show();
                            ajaxUpload("#btnUpload_"+m, $("#img_"+m), "Task", m);
                        </script>
                    </volist>

                </div>

                <div class="task-operation-row3">
                    <button type="button" id="add-step-btn">添加步骤</button>
                </div>
            </div>
        </div>

        <div class="task-type-other">
            <div class="type-other-link">
                <span>链接</span>
                <input name="task[link_url]" type="text" placeholder="请输入准确链接地址，如无链接可不填" value="{$taskInfo['link_url']}">
            </div>

            <div class="type-other-row">
                <div class="mui-input-row">
                    <p>文字验证</p>
                    <textarea name="task[validate_words]" rows="3" placeholder="如需接单者提供文字信息，请在此输入内容，如不需要可不填">{$taskInfo['validate_words']}</textarea>
                </div>
                <div class="mui-input-row">
                    <p>备注</p>
                    <textarea name="task[remark]" rows="3" placeholder="200字以内">{$taskInfo['remark']}</textarea>
                </div>
            </div>
        </div>

        <div class="release-task-agree">
            <label class="release-task-check">
                <input name="task[agree]" class="check-task" type="checkbox" id="agree" checked>
                <i></i>
                <span>我已阅读、理解并同意<a href="{:U('Article/articleDetail',array('category_id'=>3))}">《发布规则》</a>的全部内容</span>
            </label>
        </div>

        <div class="release-task-btns">
            <input type="hidden" name="id" value="{$id}">
            <input id="is_show" type="hidden" name="task[is_show]" value="0">
            <input id="total_money" type="hidden" value="{$userMoney}">
            <button type="button" id="save-btn" >保存</button>
            <button type="button" id="balance-insufficient">发布</button>
        </div>
    </form>
    <p class="release-task-tip">提示！平台禁止发布黄赌毒及涉政等一切法律所禁止的内容，另外与本平台又同类性质功能的软件或平台禁止在本平台发布推广任务，如发现将查封账户，余款不退，敬请周知。</p>


</body>

<script src="__PUBLIC__/mobile/js/mui.min.js"></script>
<script src="__PUBLIC__/mobile/js/public.js" type="text/javascript" charset="utf-8"></script>
<!--<script type="text/javascript" src="__STATIC__/js/ajaxForm.js"></script>-->
<script type="text/javascript" src="__ADMIN__/layDate-v5.0.9/laydate/laydate.js"></script>

<script type="text/javascript" charset="utf-8">

    mui.init();
    laydate.render({
        elem: '#end_time',
        type: 'datetime',
        min:minDate(),
        trigger: 'click',
    });
    // 设置最小可选的日期
    function minDate() {
        var now = new Date();
        return now.getFullYear()+"-" + (now.getMonth()+1) + "-" + now.getDate() +" "+ now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds();
    }

    _NEED_REFRESH = true;
    var count = "{$count}";
    //单图上传
    $('#upload').fileupload({
        url: "{:U('Task/uploadImg')}",
        dataType: 'json',
        done: function (e, data) {
            console.log(data);
            $('#uploaderFiles').append('<li class="weui-uploader__file" ><img src="'+data.result.data.nameosspath+'"><div class="file-del"><a href="javascript:void(0)" onclick="delPic(this)">X</a></div>'+
                '<input type="hidden" name="step[0][][step_img]" value="'+data.result.data.nameosspath+'">'+
                '</li>');

            count++;
            if (count>4) {

                $('#upload').attr('disabled','disabled');
            }
        }
    }).prop('disabled', !$.support.fileInput)
        .parent().addClass($.support.fileInput ? undefined : 'disabled');

    function delPic(obj) {
        var obj = obj;
        var img_src = $(obj).parent().next('input').val();
        $.post("{:U('oss_delet_object')}",{'img_src':img_src}, function (data) {
            mui.toast('删除成功');
            if (data.status == 1) {
                $(obj).parent().parent().remove();
                count--;
                $('#upload').attr('disabled',false);
            }
        })

    }

    //操作步骤计数
    var base = "{$base}";
    for(var i = base; i < base; i++) {
        ajaxUpload('#btnUpload_'+i, $("#img_"+i), 'Task', i);
    }
    $("#add-step-btn").on('click', function () {

        var n  = +base + 1;

        if (base > 0) {
            var text_n = $('#step_text_'+(base-1)).val();
            var img_n = $('#img'+(base-1)).val();

            if (text_n == '' && img_n == '') {
                mui.toast('步骤不能为空');
                return false;
            }
        }

        $(".step-content").append(
        '<div class="task-operation-row1">'+
            '<div>'+
            '<p>'+n+'</p>'+
            '<p class="del-item" data-num="'+n+'" id="del_'+base+'">删除</p>'+
            '</div>'+
            '<img id="img_'+base+'" src="__PUBLIC__/mobile/images/common_icon_addpicture_small.png">'+
            '<button id="btnUpload_'+base+'" class="uploader-img" type="button" ></button>'+
            '<input id="img'+base+'" type="hidden" name="step[1]['+base+'][step_img]" value="">'+
            '<textarea name="step[1]['+base+'][step_text]" class="step-text" placeholder="请填写步骤" id="step_text_'+base+'"></textarea>'+
            '</div>'
        );
        $("#del_"+(base-1)).css('display','none');
        ajaxUpload('#btnUpload_'+base, $("#img_"+base), 'Task', base);
        base++;
    });



    $(".step-content").on('click', '.del-item', function () {

        $(this).parents('.task-operation-row1').remove();
        base--;
        $('#del_'+(base-1)).css('display','block');

    });
</script>
<script type="text/javascript">

    var charge = "{$orderFee}";
    var all = 1 + (charge/100);
    var limit_num = "{$taskCategoryInfo[0]['limit_num']}";
    var limit_money = "{$taskCategoryInfo[0]['limit_money']}";
    var user_total = $('#total_money').val();
    /*判断任务价钱*/
    $("#task_num").focusout(function() {
        var price =  +$('#price').val();
        var task_num = +$('#task_num').val();
        if (task_num < limit_num) {
            mui.toast('最小数量为'+limit_num);
            $('#task_num').val('');
            return false;
        }
        if(price && task_num)
        {
             var zong =  (price * task_num *  all).toFixed(2);
            $('#total_price').val(zong);
        }
    });
    $("#price").focusout(function() {
        var price = +$('#price').val();
        var task_num = $('#task_num').val();

        if (price < limit_money) {
            mui.toast('最小金额为'+limit_money+ '元');
            $('#price').val('');
            return false;
        }
        if(price && task_num)
        {
            var zong = (price * task_num *  all).toFixed(2);
            $('#total_price').val(zong);
        }
    });
    $('.task-type-row').on('click', 'input', function () {
        limit_money =  $(this).data('money');
        limit_num =  $(this).data('num');

        $('#limit_money').html(limit_money);
        $('#limit_num').html(limit_num);
    });

    function validate() {
        var agree = $("#agree").prop('checked');
        if (!agree) {
            mui.toast('请阅读并勾选发布协议');
            return false;
        }
        var task_title = $('#task_title').val();
        if (task_title == '') {
            mui.toast('标题不能为空');
            return false;
        }
        if ($('#end_time').val() == '') {
            mui.toast('请选择结束时间');
            return false;
        }

        if ($('#total_price').val() == '') {
            mui.toast('请填写价格及数量');
            return false;
        }

        if (count ==0) {
            mui.toast('请上传验证图');
            return false;
        }

    }
    $(document)
        .ajaxStart(function(){
            $("button").attr("disabled", true);
        })
        .ajaxStop(function(){
            setTimeout(function () {
                $("button").attr("disabled", false);
            },2000);

        });
    $("#save-btn").on('click', function () {
        if ($(this).prop('disabled')) {
            return false;
        }
        $('#is_show').val('0');

        if (typeof(validate) != 'undefined' && $.isFunction(validate)) {
            if ( eval(validate)() == false ) {
                return false;
            }
        }
        var data = $("form").serialize();

        $.post("{:U('Task/addTask')}", data, function(data){
            mui.toast(data.info);
            if(data.status == 1){
                setTimeout(function() {
                    window.location.href = "{:U('Task/myTask')}";
                },1500);
            }
        }, "json");


    })
    $('#balance-insufficient').on('click', function() {
        if ($(this).prop('disabled')) {
            return false;
        }
        $('#is_show').val('1');
        var zong = $('#total_price').val();
        if (zong > (user_total/100)) {
            var delArray = ['确定'];
            mui.confirm('您账户余额不足，请到个人中心充值后再发布', '提示', delArray, function(e) {
                if (e.index == 0) {
                    // 点击了确定
                    window.location.href = "{:U('Pay/topUpsPage')}";
                }

            });
            return false;
        }

        if (typeof(validate) != 'undefined' && $.isFunction(validate)) {
            if ( eval(validate)() == false ) {

                return false;
            }
        }

        var data = $("form").serialize();

        $.post("{:U('Task/addTask')}", data, function(data){
            mui.toast(data.info);
            if(data.status == 1){
                setTimeout(function() {
                    window.location.href = "{:U('Task/myTask')}";
                },1500);
            }
        }, "json");

    });


</script>

</html>