<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>我的发布</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile/css/style.css"/>
    <link href="__PUBLIC__/mobile/css/mui.min.css" rel="stylesheet" />
</head>
<body style="background: #fff;">
<header class="mui-bar mui-bar-nav help-duck-head">
    <a class="mui-icon mui-icon-left-nav mui-pull-left" href="{:U('User/personalCenter')}"></a>
    <p class="mui-title">我的发布</p>
    <a></a>
</header>

<div id="grap-order-gray" class="">
    <div class="recommend-time" id="recommend-time">
        <div class="recommend-time-top">
            <div class="recommend-time-title">
                <p>推荐时长</p>
            </div>
            <input type="number" placeholder="请输入整数"  id="tuijian">
            <div class="recommend-time-total">
                <span>合计</span>
                <p><span id="zong"></span>元</p>
            </div>
            <div class="recommend-time-tip">
                <span>收费标准为￥{:C(TASK_TOP_MONEY)[0]}/小时</span>
                <span>当前余额￥{:fen_to_yuan($total_money)}</span>
            </div>
        </div>
        <div class="recommend-time-btns">
            <p id="recommend-time-cel" onclick="offRecommend()">取消</p>
            <p id="recommend-time-sure"  onclick="addRecommend()">确定</p>
        </div>
    </div>
    <div class="recommend-time top-time" id="top-time">
        <div class="recommend-time-top top-time-top">
            <div class="recommend-time-title top-time-title">
                <p>置顶时长</p>
            </div>
            <input type="number" placeholder="请输入整数" id="zhiding">
            <div class="recommend-time-total top-time-total">
                <span>合计</span>
                <p><span id="zong1"></span>元</p>
            </div>
            <div class="recommend-time-tip top-time-tip">
                <span>收费标准为￥{:C(TASK_TOP_MONEY)[1]}/小时</span>
                <span>当前余额￥{:fen_to_yuan($total_money)}</span>
            </div>
        </div>
        <div class="recommend-time-btns">
            <p id="top-time-cel" onclick="offTop()">取消</p>
            <p id="top-time-sure" onclick="onTop()">确定</p>
        </div>
    </div>
</div>

<div class="my-release-list">
    <foreach name="taskList" item="v" key="k">
        <div class="my-release-item">
            <div class="my-release-left">
                <div class="my-release-name" onclick="myTaskDetail({$v['id']})">
                    <p>{$v.category_name}</p>
                    <span class="my-release-no">编号：<span>{$v.id}</span></span>
                    <span>{$v.title}</span>
                </div>
                <div class="my-release-data">
                    <div>
                        <p>单价：￥<span id="price">{:fen_to_yuan($v['price'])}</span></p>
                        <p>剩余：<span>{$v.task_num}</span></p>
                    </div>
                    <div>
                        <p>总量：<span>{$v.task_zong}</span></p>
                        <p>已完成：<span>{$v.sucNum}</span></p>
                    </div>
                    <div>
                        <p>进行中：<span>{$v.beginNum}</span></p>
                        <p>待审核：<span id="audit{$v[id]}">{$v.auditNum}</span></p>
                    </div>
                </div>
                <if condition="$v['is_show'] eq 0">
                    <div class="my-release-btns">
                        <input id="del-btn" type="button" class="mui-btn mui-btn-outlined my-release-btn del-btn" onclick="del({$v['id']})" value="删除" />
                        <a href="{:U('addTask', array('id'=>$v['id']))}"><input type="button" class="mui-btn mui-btn-outlined my-release-btn modify-btn" value="修改"/></a>
                        <input type="button" class="mui-btn mui-btn-outlined my-release-btn release-btn" onclick="fabu({$v['id']})" value="发布"/>
                    </div>
                      <else />
                        <if condition="$v['audit_status'] eq 0">
                            <div class="my-release-btns">
                                <input type="button" class="mui-btn mui-btn-outlined my-release-btn del-btn"  onclick="del({$v['id']})" value="删除">
                                <p class="my-release-btn release-audit-ing">审核中</p>
                            </div>
                        </if>
                        <if condition="$v['audit_status'] eq 1">
                            <div class="my-release-btns release-high-price">
                                <div>
                                    <a>
                                        <input onclick="audit({$v[id]},{$v[is_task_num]})" type="button" value="审核">
                                    </a>
                                    <input id="my-release-pause{$v['id']}" type="button" onclick="pause({$v['id']},5)" value="开启">
                                    <input class="add-num-btn1"  type="button"  value="追加数量" onclick="addNum({$v[id]})">
                                    <input id="add-price-btn" type="button" name="{$v['task_num']}" onclick="addPrice({$v[id]})" value="上调出价">
                                </div>

                                <div>
                                    <input id="cancel-release-btn" type="button" onclick="soldOut({$v[id]})"  value="下架">
                                    <input id="flush-release-btn" type="button" onclick="refresh()" value="刷新">
                                    <input id="recommend-release-btn" type="button"  onclick="recommend({$v[id]})" value="{$v['recommend'] == 1?'已推荐': '推荐'}">
                                    <input id="top-btn" type="button"   onclick="taskTop({$v[id]})"  value="{$v['top'] == 1?'已置顶': '置顶'}">
                                </div>
                            </div>
                            <div class="task-details-box">
                                <p class="high-price-font">发布：<span>{:time_format($v['add_time'])}</span></p>
                                <p class="high-price-font">截止：<span>{:time_format($v['end_time'])}</span></p>
                            </div>
                        </if>
                         <if condition="$v['audit_status'] eq 2">
                             <div class="my-release-btns">
                                 <input type="button" class="mui-btn mui-btn-outlined my-release-btn del-btn" value="删除">
                                 <a href="{:U('addTask',array('id'=>$v['id']))}"><input type="button" class="mui-btn mui-btn-outlined my-release-btn modify-btn" value="修改"/></a>
                                 <p class="my-release-btn release-audit-fail">审核失败</p>
                             </div>
                             <p class="task-details-font">失败原因：<span>{$v.audit_info}</span></p>
                         </if>
                        <if condition="$v['audit_status'] eq 3">
                            <div class="my-release-btns">
                                <input type="button" class="mui-btn mui-btn-outlined my-release-btn del-btn"  onclick="del({$v['id']})" value="删除">
                                <p class="my-release-btn release-audit-ing">已下架</p>
                            </div>
                        </if>
                        <if condition="$v['audit_status'] eq 4">
                            <div class="my-release-btns">
                                <input type="button" class="mui-btn mui-btn-outlined my-release-btn del-btn"  onclick="del({$v['id']})" value="删除">
                                <p class="my-release-btn release-audit-ing">已结束</p>
                            </div>
                        </if>
                       <if condition="$v['audit_status'] eq 5">
                           <div class="my-release-btns release-high-price">
                               <div>
                                   <a>
                                       <input  onclick="audit({$v[id]},{$v[is_task_num]})" type="button" value="审核">
                                   </a>
                                   <input id="my-release-pause{$v['id']}" type="button" onclick="pause({$v['id']},1)" value="暂停">
                                   <input class="add-num-btn"  type="button" onclick="addNum({$v[id]})"  value="追加数量" >
                                   <input class="add-price-btn" name="{$v['task_num']}" onclick="addPrice({$v[id]})" type="button" value="上调出价">
                               </div>
                               <div>
                                   <input class="cancel-release-btn" type="button" onclick="soldOut({$v[id]})"  value="下架">
                                   <input class="flush-release-btn" type="button"  onclick="refresh()" value="刷新">
                                   <input class="recommend-release-btn" onclick="recommend({$v[id]})"  type="button" value="{$v['recommend'] == 1?'已推荐': '推荐'}">
                                   <input class="top-btn" type="button" onclick="taskTop({$v[id]})"  value="{$v['top'] == 1?'已置顶': '置顶'}">
                               </div>
                           </div>
                           <div class="task-details-box">
                               <p class="high-price-font">发布：<span>{:time_format($v['add_time'])}</span></p>
                               <p class="high-price-font">截止：<span>{:time_format($v['end_time'])}</span></p>
                           </div>
                       </if>
                </if>
            </div>
            <img src="__PUBLIC__/mobile/images/common_icon_more.png">
        </div>
    </foreach>
</div>

<div class="add-price-pause" id="add-price-pause">
    <div>
        <span>上调出价之前</span>
        <span>请先暂停任务</span>
    </div>
</div>

<div class="add-price-pause" id="add-num-pause1">
    <div>
        <span>追加数量之前</span>
        <span>请先暂停任务</span>
    </div>
</div>

<div class="add-price-pause" id="cancel-release-pause">
    <div>
        <span>下架之前</span>
        <span>请先暂停任务</span>
    </div>
</div>
<div class="add-price-pause flush-num" id="flush-num-pause">
    <div>
        <span>正在刷新数据</span>
        <span>......</span>
    </div>
</div>
<!--<div class="add-price-pause flush-num" id="flush-num-pause">-->
    <!--<div>-->
        <!--<span>刷新次数已用完</span>-->
        <!--<span>请明天再来</span>-->
    <!--</div>-->
<!--</div>-->

</body>
<script src="__PUBLIC__/mobile/js/jquery-3.0.0.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/mobile/js/mui.min.js"></script>
<script src="__PUBLIC__/mobile/js/url.js"></script>
<script src="__PUBLIC__/mobile/js/public.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
    mui.init();
</script>
<script>
    function del(id){
        var delArray = ['取消', '确定'];
        mui.confirm('确定要删除该任务吗?', '提示', delArray, function(e) {
            if (e.index == 1) {

                $.post("{:U('del')}", {'id':id}, function (data) {
                    mui.toast(data.info);
                    if (data.status == 1 ) {
                        window.location.reload();
                    }
                })
            }
        })
    }

    function refresh(){
        $("#flush-num-pause").css('display', 'block');
            setTimeout(function () {
                $("#flush-num-pause").fadeOut(500);
                mui.openWindow({
                    url:  url + 'Mobile/Task/myTask'
                });
                },1000);
            setTimeout(function () {
                mui.toast('刷新成功');
            },1500);
    }
    function pause(id,audit_status){
        var message = '';
        if(audit_status == 5){
            message = '暂停';
        }else{
            message = '开启';
        }
        var delArray = ['取消', '确定'];
        mui.confirm('确定要'+message+'该任务吗?', '提示', delArray, function(e) {
            if (e.index == 1) {
                mui.ajax(url + 'Mobile/Task/pause/',{
                    data:{
                        id:id,
                        audit_status:audit_status
                    },
                    dataType:'json',//服务器返回json格式数据
                    type:'post',//HTTP请求类型
                    timeout:10000,//超时时间设置为10秒；
                    success:function(data){
                        mui.toast(data['info']);
                        // alert(JSON.stringify(data));
                        if(data['status'] == 1){
                            setTimeout(function(){
                                mui.openWindow({
                                    url:  url + 'Mobile/Task/myTask'
                                });
                            }, 1000);
                        }
                    },
                    error:function(xhr,type,errorThrown){
                        //异常处理；
                        console.log(type);
                    }
                });
            } else {
                mui.toast('您取消了操作!');
            }
        })

    }

    function addNum(task_id) {
            var pause = $("#my-release-pause"+task_id).val();
            alert(pause);
            if(pause == '开启'){
                $("#add-num-pause1").css('display', 'flex');
                setTimeout(function () {
                    $("#add-num-pause1").fadeOut(300);
                },1000);
            }else{
                var addPriceArray = ['取消', '确定'];
                mui.prompt('', '请输入追加数量', '追加数量', addPriceArray, function(e) {
                    if (e.index == 1) {
                        var num = e.value;
                        var price = Number($('#price').text());
                        if(price * num > {$total_money}){
                            mui.confirm('您的余额不足!', '您是否去充值?', addPriceArray, function(e) {
                                if (e.index == 1) {
                                    mui.openWindow({
                                        url:url + 'Mobile/Pay/topUpsPage',
                                    });
                                }
                            });
                            return;
                        }else{
                            if(isNaN(num)){
                                mui.toast('请你输入数字');
                                return;
                            }else if(!is_num(num)){
                                mui.toast('请你输入正整数');
                                return;
                            }
                            var money = num * price;
                            mui.ajax(url + 'Mobile/Task/addTaskNum',{
                                data:{
                                    'id' : task_id,
                                    'num' : num,
                                    'money':money * 100
                                },
                                dataType:'json',//服务器返回json格式数据
                                type:'post',//HTTP请求类型
                                timeout:10000,//超时时间设置为10秒；
                                success:function(data){
                                    mui.toast(data['info']);
                                    // alert(JSON.stringify(data));
                                    if(data['status'] == 1){
                                        setTimeout(function(){
                                            mui.openWindow({
                                                url:  url + 'Mobile/Task/myTask'
                                            });
                                        }, 1000);
                                    }
                                },
                                error:function(xhr,type,errorThrown){
                                    //异常处理；
                                    console.log(type);
                                }
                            });
                        }
                    } else {

                    }
                })
            }
    }
function addPrice(task_id) {
        var pause = $('#my-release-pause').val();
        if (pause == '开启') {
            $("#add-price-pause").css('display', 'flex');
            setTimeout(function () {
                $("#add-price-pause").fadeOut(300);
            },1000);
        } else {
            var addPriceArray = ['取消', '确定'];
            mui.prompt('', '金额必须大于当前单价 / 元', '上调出价', addPriceArray, function(e) {
                if (e.index == 1) {
                    var task_num = $('#add-price-btn').attr('name');
                    var newPrice = e.value;
                    var price = Number($('#price').text());
                    if(newPrice  <= price){
                        mui.toast('金额必须大于当前单价!');
                        return
                    }else if(isNaN(newPrice)) {
                        mui.toast('请你输入数字!');
                        return
                    }else if(newPrice * task_num > {$total_money}){
                        mui.confirm('您的余额不足!', '您是否去充值?', addPriceArray, function(e) {
                            if (e.index == 1) {
                                mui.openWindow({
                                    url:url + 'Mobile/Pay/topUpsPage',
                                });
                            }
                        });
                        return
                    }
                    var money = newPrice * task_num;
                    mui.ajax(url + 'Mobile/Task/addTaskPrice',{
                        data:{
                            id : task_id,
                            price : newPrice * 100,
                            money : money * 100
                        },
                        dataType:'json',//服务器返回json格式数据
                        type:'post',//HTTP请求类型
                        timeout:10000,//超时时间设置为10秒；
                        success:function(data){
                            mui.toast(data['info']);
                            // alert(JSON.stringify(data));
                            if(data['status'] == 1){
                                setTimeout(function(){
                                    mui.openWindow({
                                        url:  url + 'Mobile/Task/myTask'
                                    });
                                }, 1000);
                            }
                        },
                        error:function(xhr,type,errorThrown){
                            //异常处理；
                            console.log(type);
                        }
                    });
                } else {
                    // 点击了确定按钮
                }
            })
        }

}
function soldOut(task_id){
        var pause = $('#my-release-pause').val();
        if(pause == '开启'){
                $("#cancel-release-pause").css('display', 'flex');
                setTimeout(function () {
                    $("#cancel-release-pause").fadeOut(300);
                },1000);
        }else{
            var delArray = ['取消', '确定'];
            mui.confirm('下架后当前任务进行中及未审核的任务\n' +
                '都将视为合格，确定下架吗', '提示', delArray, function(e) {
                if (e.index == 1) {
                    mui.ajax(url + 'Mobile/Task/taskSold/id/'+ task_id,{
                        dataType:'json',//服务器返回json格式数据
                        type:'get',//HTTP请求类型
                        timeout:10000,//超时时间设置为10秒；
                        success:function(data){
                            mui.toast(data['info']);
                            // alert(JSON.stringify(data));
                            if(data['status'] == 1){
                                setTimeout(function(){
                                    mui.openWindow({
                                        url:  url + 'Mobile/Task/myTask'
                                    });
                                }, 1000);
                            }
                        },
                        error:function(xhr,type,errorThrown){
                            //异常处理；
                            console.log(type);
                        }
                    });
                } else {
                    // 点击了确定
                }
            })
        }
}
function recommend(task_id){
        $("#grap-order-gray").addClass('mui-popup-backdrop mui-active');
        $("#recommend-time").css('display', 'block');
        $('#recommend-time-sure').attr('name',task_id);
}
    $("#zhiding").focusout(function() {
        var topNum = $(this).val();
        var money = topNum * {:C(TASK_TOP_MONEY)[1]};
        $('#zong1').text(money);
    });
    $("#tuijian").focusout(function() {
        var topNum = $(this).val();
        var money = topNum * {:C(TASK_TOP_MONEY)[0]};
        $('#zong').text(money);
    });
    //发布任务界面的置顶 ———— 确定按钮
    function  addRecommend() {
        var id = $('#recommend-time-sure').attr('name');
        var topNum = $("#tuijian").val();
        var money = Number($('#zong').text());
        if(!is_num(topNum)) {
            mui.toast('输入有误!');
            return
        }else if(zong > {$total_money}){
            mui.confirm('您的余额不足!', '您是否去充值?', '', function(e) {
                if (e.index == 1) {
                    mui.openWindow({
                        url:url + 'Mobile/Pay/topUpsPage',
                    });
                }else{
                    mui.toast('您取消了操作!');
                }
            });
            return
        }
        mui.ajax(url + 'Mobile/Task/topTask',{
            data:{
                id : id,
                topNum : topNum,
                money:money * 100,
                top : 2
            },
            dataType:'json',//服务器返回json格式数据
            type:'post',//HTTP请求类型
            timeout:10000,//超时时间设置为10秒；
            success:function(data){
                mui.toast(data['info']);
                // alert(JSON.stringify(data));
                if(data['status'] == 1){
                    setTimeout(function(){
                        mui.openWindow({
                            url:  url + 'Mobile/Task/myTask'
                        });
                    }, 1000);
                }
            },
            error:function(xhr,type,errorThrown){
                //异常处理；
                console.log(type);
            }
        });
    }
    function offRecommend(){
        $("#grap-order-gray").removeClass('mui-popup-backdrop mui-active');
        $("#recommend-time").css('display', 'none');
    }
    function taskTop(task_id){
            $("#grap-order-gray").addClass('mui-popup-backdrop mui-active');
            $("#top-time").css('display', 'block');
            $('#top-time-sure').attr('name',task_id);
    }
    var  p =  0;
    function onTop(){
        p ++ ;
        if(p > 1){
            return
        }
        var id = $('#top-time-sure').attr('name');
        var topNum  =   $("#zhiding").val();
        var money  = Number($('#zong1').text());
        if(!is_num(topNum)) {
            mui.toast('输入有误!');
            return
        }else if(zong > {$total_money}){
            mui.confirm('您的余额不足!', '您是否去充值?', '', function(e) {
                if (e.index == 1) {
                    mui.openWindow({
                        url:url + 'Mobile/Pay/topUpsPage',
                    });
                }else{
                    mui.toast('您取消了操作!');
                }
            });
            return
        }
        mui.ajax(url + 'Mobile/Task/topTask',{
            data:{
                id : id,
                topNum : topNum,
                money:money * 100,
                top : 1
            },
            dataType:'json',//服务器返回json格式数据
            type:'post',//HTTP请求类型
            timeout:10000,//超时时间设置为10秒；
            success:function(data){
                mui.toast(data['info']);
                // alert(JSON.stringify(data));
                if(data['status'] == 1){
                    setTimeout(function(){
                        mui.openWindow({
                            url:  url + 'Mobile/Task/myTask'
                        });
                    }, 1000);
                }
            },
            error:function(xhr,type,errorThrown){
                //异常处理；
                console.log(type);
            }
        });
    }
    function offTop(){
        $("#grap-order-gray").removeClass('mui-popup-' +
            'backdrop mui-active');
        $("#top-time").css('display', 'none');
    }
    /*判断是否为正整数*/
    function is_num(num){
        var r = /^[0-9]*[1-9][0-9]*$/;
        if(r.test(num)){
            return true;
        }else{
            return false;
        }
    }
    /*审核*/
    function audit(task_id,is_task_num){
            if(is_task_num  == 0){
                mui.toast('没有需要审核的信息!');
            }else{
                mui.openWindow({
                    url:  url + 'Mobile/TaskLog/auditTask/task_id/' + task_id
                });
            }
    }

    function myTaskDetail(task_id) {
        mui.openWindow({
            url:  url + 'Mobile/Task/myTaskDetail/id/' + task_id
        });
    }

    //发布
    function fabu(task_id) {
        $.post("{:U('Task/changeShowStatus')}", {'id':task_id}, function (data) {
            mui.toast(data.info);
            if (data.status == 1) {
                window.location.reload();
            }
        })
    }
</script>
</html>