<footer class="mui-bar mui-bar-tab help-duck-foot">
    <footer class="mui-bar mui-bar-tab help-duck-foot">
        <a href="{:U('Index/index')}">
            <div>
                <img src="__PUBLIC__/mobile/images/tab_icon_home_n.png">
                <span>首页</span>
            </div>
        </a>
        <a href="User/listMessage">
            <div>
                <img src="__PUBLIC__/mobile/images/tab_icon_message_n.png">
                <span>消息</span>
            </div>
        </a>
        <a href="{:U('User/getRankList')}">
            <div>
                <img src="__PUBLIC__/mobile/images/tab_icon_rank_n.png">
                <span>排行榜</span>
            </div>
        </a>
        <a href="{:U('User/personalCenter')}">
            <div>
                <img src="__PUBLIC__/mobile/images/tab_icon_my_s.png">
                <span style="color: #6f75ef">我的</span>
            </div>
        </a>
    </footer>
</footer>