<extend name="Public/base"/>
<block name="style">
    <link rel="stylesheet" href="__PUBLIC__/pc/css/cur.css">
    <link rel="stylesheet" href="__PUBLIC__/pc/css/withdraw.css">
    <link rel="stylesheet" href="__PUBLIC__/pc/css/iconfont.css">
</block>
<block name="body">
    <body class="bg">
    <include file="Public/head"/>
    <div class="session">
        <div class="w1200">
            <include file="Public/nav"/>
            <div class="nav-bred">
                <a href="#">充值</a>
            </div>
            <div class="withdraw sess-wapper">
                <ul class="withdraw-ul">
                    <li class="cf">
                        <span class="draw-name fl">
                                充值金额
                        </span>
                        <div class="draw-wapper fl">
                            <input type="text"   name="money" id="money" placeholder="请充值你的余额,充值为整数">
                            元
                        </div>
                    </li>
                    <li class="cf">
                        <span class="draw-name fl">
                                充值方式
                        </span>
                        <div class="draw-wapper fl">
                            <div class="draw-pay">
                                <input type="radio" checked="checked">
                                <img src="__PUBLIC__/pc/images/alipay.png"/>
                            </div>
                        </div>
                    </li>
                </ul>
                <button onclick="pay()" class="withdraw-btn">
                        充值
                </button>
                <div class="withdraw-tips">
                    <h1>充值说明</h1>
                    <p> 1.因微信政策的调整，平台暂不支持微信充值及提现，请用支付宝进行操作，今后如开放平台会及时公告。</p>
                    <p> 2.登录电脑网页版也可以进行支付。</p>
                    <p> 3.充值无最低额度限制，请根据任务单价及数量自行确定充值金额；如有剩余可以提现，但会收取一定的费用。详情请参阅任务[发布规则]或[用户协议]。</p>
                </div>
            </div>
        </div>
    </div>
</body>

</block>
<block name="script">
    <script src="__PUBLIC__/pc/js/jquery-3.1.1.min.js"></script>
    <script>

        function pay(){
            var money = $('#money').val();
            if((/^(\+|-)?\d+$/.test( money ))&&money>0){
                mui.confirm('是否充值'+money+'元', '提示', '', function(e) {
                    if (e.index == 1) {
                        mui.ajax(url + 'Home/Pay/alipay',{
                            data:{
                                recharge_money:money * 100,
                                recharge_type: 0
                            },
                            dataType:'json',//服务器返回json格式数据
                            type:'post',//HTTP请求类型
                            timeout:10000,//超时时间设置为10秒；
                            success:function(data){
                                mui.toast(data['info']);
                                alert(JSON.stringify(data));
                                // if(data['status'] == 1){
                                //     setTimeout(function(){
                                //         mui.openWindow({
                                //             url:  url + 'Home/Pay/myWallet'
                                //         });
                                //     }, 1500);
                                // }
                            },
                            error:function(xhr,type,errorThrown){
                                //异常处理；
                                console.log(type);
                            }
                        });
                    }else{
                        mui.toast('您取消了操作');
                    }
                })
            }else {
                mui.alert("请输入整数充值");
                return;
            }
        }
        $("#money").blur(function(){
            var value = $(this).val();
            if((/^(\+|-)?\d+$/.test( value ))&&value>0){
            }else{
                mui.alert("请输入整数充值");;
            }
        });
    </script>
</block>