<footer class="mui-bar mui-bar-tab help-duck-foot">
    <a href="index.html">
        <div>
            <img src="__PUBLIC__/mobile/images/tab_icon_home_n.png">
            <span>首页</span>
        </div>
    </a>
    <a href="message.html">
        <div>
            <img src="__PUBLIC__/mobile/images/tab_icon_message_n.png">
            <span>消息</span>
        </div>
    </a>
    <a href="rank-week.html">
        <div>
            <img src="__PUBLIC__/mobile/images/tab_icon_rank_n.png">
            <span>排行榜</span>
        </div>
    </a>
    <a href="personal-center.html">
        <div>
            <img src="__PUBLIC__/mobile/images/tab_icon_my_s.png">
            <span style="color: #6f75ef">我的</span>
        </div>
    </a>
</footer>