<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>排行榜</title>
    <link href="__PUBLIC__/mobile/css/mui.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile/css/style.css"/>
</head>
<body>
    <header class="mui-bar mui-bar-nav help-duck-head">
        <a></a>
        <p class="mui-title">排行榜</p>
        <!--<a href="rank-history.html">历史榜单</a>-->
    </header>

    <div class="rank-week-top3">
        <div class="rank-top3-title">
            <div class="top3-line"></div>
            <p>接单能手排行榜</p>
            <div class="top3-line"></div>
        </div>

        <div class="rank-week-top3-users">
            <div class="rank-top3-user">
                <div class="rank-top3-headimg">
                    <img style="border-radius: 50%;" class="top3-user-headimg" src="{$randList[1]['head_pic']}">
                    <img class="top3-border" src="__PUBLIC__/mobile/images/common_img_no2.png">
                </div>
                <div class="top3-user-info">
                    <p>{$randList[1]['nick_name']}</p>
                    <span>ID：{$randList[1]['user_id']}</span>
                    <p>￥{:fen_to_yuan($randList[1]['task_suc_money'])}</p>
                </div>
            </div>

            <div class="rank-top3-user">
                <div class="rank-top3-headimg">
                    <img class="top3-user-headimg" src="{$randList[0]['head_pic']}">
                    <img class="top3-border" src="__PUBLIC__/mobile/images/common_img_no1.png">
                </div>
                <div class="top3-user-info">
                    <p>{$randList[0]['nick_name']}</p>
                    <span>ID：{$randList[0]['user_id']}</span>
                    <p>￥{:fen_to_yuan($randList[0]['task_suc_money'])}</p>
                </div>
            </div>

            <div class="rank-top3-user">
                <div class="rank-top3-headimg">
                    <img class="top3-user-headimg" src="{$randList[2]['head_pic']}">
                    <img class="top3-border" src="__PUBLIC__/mobile/images/common_img_no3.png">
                </div>
                <div class="top3-user-info">
                    <p>{$randList[2]['nick_name']}</p>
                    <span>ID：{$randList[2]['user_id']}</span>
                    <p>￥{:fen_to_yuan($randList[2]['task_suc_money'])}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="top-list-title">
        <p>4-100名</p>
        <p>赚钱金额</p>
    </div>
    <div id="rankList" class="top-user-list">
       <foreach name="randList" item="v" key="k">
           <if condition="$k gt 2 ">
               <div class="top-user-item">
                   <div class="top-user-left">
                       <p>{$k + 1}</p>
                       <img src="{$v['head_pic']}">
                       <p>{$v.nick_name}</p>
                       <p>ID：{$v.user_id}</p>
                   </div>
                   <p>￥{:fen_to_yuan($v['task_suc_money'])}</p>
               </div>
           </if>
       </foreach>
    </div>
    <footer class="mui-bar mui-bar-tab help-duck-foot">
        <a href="{:U('Index/index')}">
            <div>
                <img src="__PUBLIC__/mobile/images/tab_icon_home_n.png">
                <span>首页</span>
            </div>
        </a>
        <a href="{:U('Push/getPush')}">
            <div>
                <img src="__PUBLIC__/mobile/images/tab_icon_message_n.png">
                <span>消息</span>
            </div>
        </a>
        <a href="{:U('User/getRankList')}">
            <div>
                <img src="__PUBLIC__/mobile/images/tab_icon_rank_s.png">
                <span  style="color: #6f75ef">排行榜</span>
            </div>
        </a>
        <a href="{:U('User/personalCenter')}">
            <div>
                <img src="__PUBLIC__/mobile/images/tab_icon_my_n.png">
                <span>我的</span>
            </div>
        </a>
    </footer>
</body>
<script src="__PUBLIC__/mobile/js/mui.min.js"></script>
<script type="text/javascript" charset="utf-8">
    mui.init();
    var page = 1;
    //排名分页
    function rankList(){
           page ++;


    }
</script>
<script src="__PUBLIC__/mobile/js/jquery-3.0.0.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/mobile/js/public.js" type="text/javascript" charset="utf-8"></script>
</html>