<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>合作商</title>
    <link href="__PUBLIC__/mobile/css/mui.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile/css/style.css"/>
</head>
<body style="background: #f6f6f6">
    <header class="mui-bar mui-bar-nav help-duck-head">
        <a href="{:U('User/personalCenter')}" class="mui-icon mui-icon-left-nav mui-pull-left"></a>
        <p class="mui-title">合作商</p>
        <a></a>
    </header>

    <div class="partners-my-level">
            <p style="text-align: center;">小主，您的级别是<if condition="$shop_type eq 0">非合作商<else />{:C(VIP_LEVEL)[$shop_type]}</if></p>
    </div>

    <div class="partners-level-intro">
        <div class="partners-level-title">
            <p>合作商级别</p>
            <p>交易手续费</p>
            <p>提现手续费</p>
        </div>

        <div class="partners-level-info">
            <p>非合作商</p>
            <span>{:C(BASE_WITHDRAW_FEE)}%</span>
            <span>{:C(BASE_ORDER_FEE)}%</span>
        </div>
        <foreach name="vip['cost']" item="v">
            <div class="partners-level-info">
                <p>{:C('VIP_LEVEL')[$v['type']]}</p>
                <span>{$v['order_fee']}%</span>
                <span>{$v['withdraw_fee']}%</span>
            </div>
        </foreach>
    </div>

    <div class="app-partners">
        <div class="app-partners-title">
            <p>申请合作商</p>
            <span>月卡</span>
            <span>年卡</span>
        </div>
        <foreach name="vip['money']" item="v" key="k">
            <div class="app-partners-info">
                <div class="partners-level-name">
                    <if condition=" $k eq 1">
                        <img src="__PUBLIC__/mobile/images/my_cooperate_icon_putong.png">
                        <elseif condition="$k eq 2"/><img src="__PUBLIC__/mobile/images/my_cooperate_icon_gold.png">
                        <else /> <img src="__PUBLIC__/mobile/images/my_cooperate_icon_baijin.png">
                    </if>
                    <span>{:C('VIP_LEVEL')[$k]}</span>
                </div>
                <div class="partners-month">
                    <p>￥{:fen_to_yuan($v[0]['vip_price'])}</p>
                    <button onclick="buy({$v[0]['vip_price']},{$k}, 1)">购买</button>
                </div>
                <div class="partners-year">
                    <p>￥{:fen_to_yuan($v[1]['vip_price'])}</p>
                    <button onclick="buy({$v[1]['vip_price']}, {$k}, 2)">购买</button>
                </div>
            </div>
        </foreach>
    </div>

    <div class="partners-interests-intro">
        <span>合作商权益说明</span>
        <p>
            1.同级别续费，时间自动累计顺延；升级级别，原级别将失效，时间不顺延。<br>
            2.合作商一天可以提现三次，非合作商7天内只能提现一次，提现需要人工审核，非工作日不能提现;<br>
            3.合作商可以减免部分手续费；发单没有最低手续费要求。
        </p>
    </div>

</body>
<script src="__PUBLIC__/mobile/js/mui.min.js"></script>
<script src="__PUBLIC__/mobile/js/url.js"></script>
<script type="text/javascript" charset="utf-8">
    mui.init();
    function buy(money,type,time){
              mui.confirm('是否成为合作商', '提示', '', function(e) {
                  if (e.index == 1) {
                      mui.ajax(url + 'Mobile/Shop/vip',{
                          data:{
                              money:money,
                              type:type,
                              time : time
                          },
                          dataType:'json',//服务器返回json格式数据
                          type:'post',//HTTP请求类型
                          timeout:10000,//超时时间设置为10秒；
                          success:function(data){
                              mui.toast(data['info']);
                              // alert(JSON.stringify(data));
                              if(data['status'] == 1){
                                  setTimeout(function(){
                                      window.location.href = "{:U('User/partners')}";

                                  }, 1500);
                              }else{
                                  mui.confirm('您的余额不足,是否去充值?', '提示', '', function(e) {
                                      if (e.index == 1) {
                                          window.location.href = "{:U('Pay/topUpsPage')}"

                                      }else{
                                          mui.toast('您取消了操作');
                                      }
                                  });
                              }
                          },
                          error:function(xhr,type,errorThrown){
                              //异常处理；
                              console.log(type);
                          }
                      });
                  }else{
                      mui.toast('您取消了操作');
                  }
              })
    }
</script>
<script src="__PUBLIC__/mobile/js/jquery-3.0.0.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/mobile/js/public.js" type="text/javascript" charset="utf-8"></script>
</html>