<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>分红提现</title>
    <link href="css/mui.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body style="background: #f6f6f6">
    <header class="mui-bar mui-bar-nav help-duck-head">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <p class="mui-title">分红提现</p>
        <a></a>
    </header>

    <div class="withdrawals-row partners-level">
        <p>账户余额</p>
        <p><span>1000.0</span>元</p>
    </div>

    <div class="withdrawals-money">
        <p>提现金额</p>
        <div>
            <input type="number" placeholder="请输入提现金额">
            <p>元</p>
        </div>
    </div>

    <div class="withdrawals-method">
        <p>提现方式</p>
        <img src="images/common_icon_singlebox_s.png">
        <p>支付宝</p>
    </div>

    <div class="top-ups-sure">
        <button>提现</button>
    </div>

    <div class="top-ups-info">
        <span>提现说明</span>
        <p>
            1、提现金额限制在1.0元-200元的整数，账户余额不能低于1.1元，因需要给上级返利10%。<br>
            2、提现时，系统自动扣除10%的红利给你的推荐人；你推荐的人提现时返给你10%。<br>
            3、每天可以提现三次，有时因网络原因会有几秒到几分钟的延时，请注意查收。
        </p>
    </div>

</body>
<script src="js/mui.min.js"></script>
<script type="text/javascript" charset="utf-8">
    mui.init();
</script>
<script src="js/jquery-3.0.0.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/public.js" type="text/javascript" charset="utf-8"></script>
</html>