<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>收入分红</title>
    <link href="__PUBLIC__/mobile/css/mui.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile/css/style.css"/>
</head>
<body style="background: #f6f6f6;">
    <header class="mui-bar mui-bar-nav help-duck-head">
        <a class=" mui-icon mui-icon-left-nav mui-pull-left" href="{:U('User/personalCenter')}"></a>
        <p class="mui-title">收入分红</p>
        <a></a>
    </header>

    <div class="my-wallet-top" style="background-image: url('__PUBLIC__/mobile/images/my_income_bg_income.png')">
        <span>收入分红</span>
        <p>￥<span>{:fen_to_yuan($bonus_money)}</span></p>
        <div class="my-wallet-btns">
            <a href="{:U('Pay/withdraw',array('type' => 1))}" style="margin-right: 0">
                <input type="button"  value="提现">
            </a>
        </div>
    </div>

    <div class="mui-content" id="top-shop-content">
        <div id="my-fans-info" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-primary top-shop-choose my-fans-attention" >
            <a data-type="0" class="mui-control-item mui-active my-fans">
                <p>分红记录</p>
            </a>
            <a data-type="1" class="mui-control-item my-attention">
                <p>提现记录</p>
            </a>
        </div>

        <div>
            <div id="item1" class="mui-control-content mui-active">
                <div class="mui-scroll-content">
                    <div class="mui-scroll">
                        <ul class="mui-table-view my-fans-view msg-list">
                                <foreach name="pmoney" item="v">
                                    <li class="mui-table-view-cell my-fans-li">
                                        <a class="my-fans-item">
                                            <div class="my-fans-user">
                                                <div class="my-wallet-left">
                                                    <img src="__PUBLIC__/mobile/images/my_wallet_icon_in.png">
                                                    <div class="fans-user-info">
                                                        <p>{$v['change_desc']}</p>
                                                        <div>
                                                            <span>{:time_format($v['change_time'])}</span>

                                                        </div>
                                                    </div>
                                                </div>
                                                <p class="my-cz-money">+<span>{:fen_to_yuan($v['user_money'])}</span></p>
                                            </div>
                                        </a>
                                    </li>
                                </foreach>
                        </ul>
                    </div>
                    <div class="mui-scrollbar mui-scrollbar-vertical">
                        <div class="mui-scrollbar-indicator"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</body>
<script src="__PUBLIC__/mobile/js/mui.min.js"></script>
<script type="text/javascript" charset="utf-8">
    mui.init();
</script>
<script src="__PUBLIC__/mobile/js/jquery-3.0.0.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/mobile/js/public.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        var p = 1;
        $('#my-fans-info').on('tap', '.mui-control-item',function () {
            var type =  $(this).data('type');
            p = 1;
            var json_data = {
                "type":type,
                "p":p
            };
            $.post("{:U('Pay/incomeDividends')}/p/"+p, json_data, function (data) {
                if (data.status == 1) {
                    $(".msg-list").html('');
                    if (data.data.length) {

                        var html1 = '';
                        for (var i=0; i < data.data.length; i++) {
                            html1 += '<li class="mui-table-view-cell my-fans-li">'+
                                        '<a class="my-fans-item">'+
                                            '<div class="my-fans-user">'+
                                                '<div class="my-wallet-left">';
                                                    if (type == 0) {
                                                        html1 +='<img src="__PUBLIC__/mobile/images/my_wallet_icon_in.png">';
                                                    } else {
                                                        html1 +='<img src="__PUBLIC__/mobile/images/my_wallet_icon_out.png">';
                                                    }

                                                    html1 +='<div class="fans-user-info">'+
                                                            '<p>'+data.data[i].change_desc+'</p>'+
                                                                '<div>'+
                                                                    '<span>'+data.data[i].change_time+'</span>'+
                                                                '</div>'+
                                                            '</div>'+
                                                    '</div>'+
                                                '<p class="my-cz-money">';
                                                    if (type == 0) {
                                                        html1 +=' +';
                                                    }else {
                                                        html1 +=' -';
                                                    }

                                                    html1+='<span>'+data.data[i].user_money+'</span></p>'+
                                            '</div>'+
                                        '</a>'+
                                    '</li>';
                        }

                        $(".msg-list").append(html1);
                    } else {
                        mui.toast('没有更多了');
                        $(window).off('scroll');
                    }
                }

            })
            loadMore(type);
        });

        //滚动加载
        function loadMore(type) {
            $(window).on('scroll', function() {
                if($(document).scrollTop() >= $(document).height() - $(window).height()) {
                    p++;
                    var json_data = {
                        "type":type,
                        "p":p
                    };

                    $.post("{:U('Pay/incomeDividends')}/p/"+p, json_data, function (data) {
                        if (data.status == 1) {
                            var html2 = '';
                            for (var i=0; i < data.data.length; i++) {
                                html2 += '<li class="mui-table-view-cell my-fans-li">'+
                                    '<a class="my-fans-item">'+
                                    '<div class="my-fans-user">'+
                                    '<div class="my-wallet-left">';
                                if (type == 0) {
                                    html2 +='<img src="__PUBLIC__/mobile/images/my_wallet_icon_in.png">';
                                } else {
                                    html2 +='<img src="__PUBLIC__/mobile/images/my_wallet_icon_out.png">';
                                }

                                html2 +='<div class="fans-user-info">'+
                                    '<p>'+data.data[i].change_desc+'</p>'+
                                    '<div>'+
                                    '<span>'+data.data[i].change_time+'</span>'+
                                    '</div>'+
                                    '</div>'+
                                    '</div>'+
                                    '<p class="my-cz-money">';
                                if (type == 0) {
                                    html2 +=' +';
                                } else {
                                    html2 +=' -';
                                }

                                html2 +='<span>'+data.data[i].user_money+'</span></p>'+
                                    '</div>'+
                                    '</a>'+
                                    '</li>';
                            }

                            $(".msg-list").append(html2);
                        }

                    })

                }
            });
        }

    </script>
</html>