<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>余额提现</title>
    <link href="__PUBLIC__/mobile/css/mui.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile/css/style.css"/>
    <style>
        .withdrawals-money div input {
            color: #666;
        }
        .withdrawals-money .withdrawals-input {
            caret-color: #333;
            color: #333;
            height: .8rem;
            font-size: .34rem;
            padding: 0;
            line-height: .8rem;
            padding-right: .2rem;
        }
        .withdrawals-money .withdrawals-input::placeholder {
            font-size: .34rem;
        }
    </style>
</head>
<body style="background: #f6f6f6">
    <header class="mui-bar mui-bar-nav help-duck-head">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <p class="mui-title">余额提现</p>
        <a></a>
    </header>

    <div class="withdrawals-row partners-level">
        <p>合作商级别</p>
        <if condition="$shopInfo['shop_type'] eq 0"><p>非合作商</p>
            <else /><p>{:C(	VIP_LEVEL)[$shopInfo['shop_type']]}</p>
        </if>
    </div>

    <div class="withdrawals-row">
        <p>账户余额</p>
        <if condition="$shopInfo['type'] eq 0">
            <p><span class="total_money">{:fen_to_yuan($shopInfo['total_money'])}</span>元</p>
            <else /> <p><span class="total_money">{:fen_to_yuan($shopInfo['bonus_money'])}</span>元</p>
        </if>
    </div>

    <div class="withdrawals-money">
        <p>提现金额</p>
        <div>
            <input  class="withdrawals-input" type="number" name="money" onkeyup="num(this)"  id="money" placeholder="请输入提现金额">
            <p>元</p>
        </div>
    </div>
    <div class="withdrawals-method">
        <p>提现方式</p>
        <img src="__PUBLIC__/mobile/images/common_icon_singlebox_s.png">
        <p>支付宝</p>
    </div>

    <div class="top-ups-sure">
        <button id="withdrawals-bind-zfb">提现</button>
    </div>

    <div class="top-ups-info">
        <span>提现说明</span>
        <p>
            1、提现金额限制在1.0元-200元，账户余额不能低于1.2元，提现时间为工作日的早9:00-17:00。 <br>
            2、提现手续费：非合作商15%；普通合作商10%；金牌合作商8%；白金合作商5%。<br>
            3、合作商每天可以提现三次；非合作商7天内只能提现一次，需要审核，审核时间1个工作日内。<br>
            4、提现有时因网络原因会有几秒到几分钟的延时，注意查收红包。
        </p>
    </div>

</body>
<script src="__PUBLIC__/mobile/js/jquery-3.0.0.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/mobile/js/mui.min.js"></script>
<script src="__PUBLIC__/mobile/js/url.js"></script>
<script src="__PUBLIC__/mobile/js/public.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
    mui.init();

    /*判断只能输入两位小数*/
    function num(obj){
        obj.value = obj.value.replace(/[^\d.]/g,""); //清除"数字"和"."以外的字符
        obj.value = obj.value.replace(/^\./g,""); //验证第一个字符是数字
        obj.value = obj.value.replace(/\.{2,}/g,"."); //只保留第一个, 清除多余的
        obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$",".");
        obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/,'$1$2.$3'); //只能输入两个小数
    }
    document.getElementById("withdrawals-bind-zfb").addEventListener('tap', function() {
        var total_money = Number($('.total_money').text());
        var money = $('#money').val();
        if (money < 1.2) {
            mui.toast('您的余额太低,无法提现');
            return
        }
        if (total_money < money) {
            mui.toast('余额不足');
            return
        }
        if (money  > 200) {
            mui.toast('提现最大额度200元');
            return
        }
        mui.confirm('您是否提现' + money + '元', '提示', '', function (e) {
            if (e.index == 1){
                var json_data = {
                  "money":money,
                  "type":  "{$shopInfo['type']}"
                };

                $.post("{:U('Pay/withdraw')}",json_data, function (data) {
                        mui.toast(data.info);
                        if(data['data']  == 0) {
                            setTimeout(function(){
                                window.location.href = "{:U('Pay/myWallet')}"
                            }, 1500);
                        }else{
                            setTimeout(function(){
                                window.location.href = "{:U('Pay/incomeDividends')}"
                            }, 1500);
                        }

                })

            }else{
                mui.toast('您取消了操作!')
            }
        });
    })
</script>
<script>
    $('.withdrawals-input').on('touchstart',function () {
        $(this).focus();
    })
</script>
</html>