<extend name="Public/base"/>
<block name="style">
    <title>{:C('WEB_TITLE')}-邀请好友</title>
    <link rel="stylesheet" href="__PUBLIC__/pc/css/invite.css">
</block>
<block name="body">
<body class="home">
    <include file="Public/head"/>
    <div class="session">
        <div class="w1200">
            <include file="Public/nav"/>
            <div class="nav-bred">
                <a href="#">邀请好友</a>
            </div>
            <div class="sess-wapper invite">
                <div class="invite-user">
                    <span class="invite-useri">
                        <if condition="$userInfo['head_pic'] neq ''">
                            <img src="{$userInfo['head_pic']}"/>
                            <else/>
                            <img src="__PUBLIC__/pc/images/user.png" />
                        </if>
                    </span>
                    {$userInfo['nickname']}
                </div>
                <div class="invite-inid">
                    <p>您的邀请码(ID)</p>
                    <h1>{$userInfo['invitation_code']}
                        <input id="biao1" type="hidden" value="{$userInfo['invitation_code']}">
                    </h1>
                    <button onclick="copyUrl2()">复制</button>
                </div>
                <div class="invite-code">
                    <div class="code-box">
                        <span class="code-b">
                            <img src="__PUBLIC__/mobile/images/QR-code.png">
                        </span>
                        <p>扫码下载帮帮鸭</p>
                        <!--<div class="code-share">
                            <p>分享到</p>
                            <ul>
                                <li>
                                    <a href="">
                                        <svg class="icon" aria-hidden="true">
                                            <use xlink:href="#icon-invite_icon_qqspace"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <svg class="icon" aria-hidden="true">
                                            <use xlink:href="#icon-invite_icon_weibo"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <svg class="icon" aria-hidden="true">
                                            <use xlink:href="#icon-invite_icon_renren"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <svg class="icon" aria-hidden="true">
                                            <use xlink:href="#icon-invite_icon_wechat"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>-->
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</block>
<block name="script">
    <script src="__PUBLIC__/pc/js/iconfont.js"></script>
    <script>
        function copyUrl2()
        {
            var Url2=document.getElementById("biao1");
            Url2.select(); // 选择对象
            document.execCommand("Copy"); // 执行浏览器复制命令
            alert("已复制好，可贴粘。");
        }
    </script>
</block>
