<li class="cf">
    <div class="item-wapper fl cf">
        <div class="item-i fl">
            <img src="__PUBLIC__/pc/images/jdzq_icon_comment.png" />
        </div>
        <div class="item-sess fl">
            <div class="item-h1 cf">
                <h1 class="fl">注册</h1>
                <span class="item-tips fl">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-jdzq_icon_top"></use>
                    </svg>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-jdzq_icon_promise"></use>
                    </svg>
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-home_jdzq_icon_tuiji"></use>
                    </svg>
                </span>
                <span class="item-p fl">天天快报一秒完成</span>
            </div>
            <div class="item-span">
                <span>编号：740006</span>
                <span>单价：￥2.5</span>
                <span>剩余单数：9</span>
            </div>
        </div>
    </div>
    <a href="" class="item-btn fr">查看</a>
</li>