<volist name="taskInfo" id="vo">
    <li class="cf">
        <div class="item-wapper fl cf">
            <div class="item-i fl">

                <if condition="$vo['category_img'] neq ''">
                    <img src="{$vo.category_img}">
                    <else/>
                    <img src="__PUBLIC__/pc/images/jdzq_icon_comment.png" />
                </if>

            </div>
            <div class="item-sess fl">
                <div class="item-h1 cf">
                    <h1 class="fl">{$vo.category_name}</h1>
                    <span class="item-tips fl">

                        <if condition="$vo.top eq 1">
                            <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-jdzq_icon_top"></use>
                        </svg>
                        </if>
                        <if condition="$vo.shop_accounts gt 0">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-jdzq_icon_promise"></use>
                            </svg>
                        </if>
                        <if condition="$vo.ret eq 1">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-home_jdzq_icon_tuiji"></use>
                            </svg>
                        </if>

                    </span>
                    <span class="item-p fl">{$vo.title}</span>
                </div>
                <div class="item-span">
                    <span>编号：{$vo.id}</span>
                    <span>单价：￥{$vo['price']}</span>
                    <span>剩余单数：{$vo['task_num']}</span>
                </div>
            </div>
        </div>
        <a href="{:U('Task/taskDetail',array('id'=>$vo['id']))}" class="item-btn fr">查看</a>
    </li>
</volist>