<extend name="Public/base"/>
<block name="style">
    <title>{:C('WEB_TITLE')}-接单赚钱</title>
    <link rel="stylesheet" href="__PUBLIC__/pc/css/index.css">
</block>
<block name="body">
    <body class="bg">
    <include file="Public/head"/>
    <div class="session">
        <div class="w1200">
            <include file="Public/nav"/>
            <div class="nav-bred"><a href="#">接单赚钱</a></div>
            <div class="topshop cf">
                <div class="topshop-name fl">置顶店铺</div>
                <div class="topshop-wapper fl cf">

                    <foreach name="topShop" item="v">
                        <a href="javascript:;" class="topshop-box fl">
                            <div class="topshop-img">
                                <span class="topshop-i"><img src="{$v.shop_img}"></span>
                                <span class="topshop-topi"><img src="__PUBLIC__/pc/images/jdzq_img_shop.png" /></span>
                            </div>
                            <p>{$v.shop_name}</p>
                        </a>
                    </foreach>

                </div>
            </div>
            <div class="sess-wapper">
                <div class="seach-wapper">
                    <input type="text" placeholder="请输入搜索内容（任务编号/标题）">
                    <button class="iconfont icon-jdzq_icon_search seach-btn">搜索</button>
                </div>
                <ul class="class-wapper">
                    <li class="cf">
                        <span class="class-name fl">分类</span>
                        <div class="class-type fl">
                            <span class="class-type-active" data-id="0">全部</span>

                            <foreach name="taskCategory" item="v">
                                <span data-id="{$v['id']}" class="">{$v['category_name']}</span>
                            </foreach>

                        </div>
                    </li>
                    <li class="cf">
                        <span class="class-name fl">排序</span>
                        <div class="class-type fl">
                            <span data-order="1" class="class-type-active">最新</span>
                            <span data-order="2" class="">综合</span>
                            <span data-order="3" class="">优先</span>
                            <span data-order="4" class="">人气</span>
                            <span data-order="5" class="">苹果</span>
                        </div>
                    </li>
                </ul>

                <ul class="index-wapper"></ul>
            </div>
            <button class="check-more">查看更多</button>
        </div>
    </div>
    </div>
</body>
</block>
<block name="script">
    <script type="text/javascript">
        $(".class-type span").click(function () {
            $(this).parent().children().removeClass("class-type-active");
            $(this).addClass("class-type-active");
        })
    </script>
</block>
