<extend name="Public/base"/>
<block name="style">
    <title>{:C('WEB_TITLE')}-接单赚钱</title>
    <link rel="stylesheet" href="__PUBLIC__/pc/css/index.css">
</block>
<block name="body">
    <body class="bg">
    <include file="Public/head"/>
    <div class="session">
        <div class="w1200">
            <include file="Public/nav"/>
            <div class="nav-bred"><a href="#">接单赚钱</a></div>
            <div class="topshop cf">
                <div class="topshop-name fl">置顶店铺</div>
                <div class="topshop-wapper fl cf">

                    <foreach name="topShop" item="v">
                        <a href="javascript:;" class="topshop-box fl">
                            <div class="topshop-img">
                                <span class="topshop-i"><img src="{$v.shop_img}"></span>
                                <span class="topshop-topi"><img src="__PUBLIC__/pc/images/jdzq_img_shop.png" /></span>
                            </div>
                            <p>{$v.shop_name}</p>
                        </a>
                    </foreach>

                </div>
            </div>
            <div class="sess-wapper">
                <div class="seach-wapper">
                    <input type="text" name="keyword" placeholder="请输入搜索内容（任务编号/标题）">
                    <button class="iconfont icon-jdzq_icon_search seach-btn">搜索</button>
                </div>
                <ul class="class-wapper">
                    <li class="cf">
                        <span class="class-name fl">分类</span>
                        <div class="class-type fl" id="get-order-list">
                            <span class="taskCategory class-type-active" data-id="0">全部</span>

                            <foreach name="taskCategory" item="v">
                                <span data-id="{$v['id']}" class="taskCategory">{$v['category_name']}</span>
                            </foreach>

                        </div>
                    </li>
                    <li class="cf">
                        <span class="class-name fl">排序</span>
                        <div class="class-type fl" id="get-order-choose">
                            <span data-order="1" class="sorts class-type-active">最新</span>
                            <span data-order="2" class="sorts">综合</span>
                            <span data-order="3" class="sorts">优先</span>
                            <span data-order="4" class="sorts">人气</span>
                            <span data-order="5" class="sorts">苹果</span>
                        </div>
                    </li>
                </ul>

                <ul class="index-wapper" id="ajax_return"></ul>
            </div>
            <button class="check-more" id="more">查看更多</button>
            <button class="check-more" id="no" style="display: none;">没有更多了</button>
        </div>
    </div>
    </div>
</body>
</block>
<block name="script">
    <script type="text/javascript">
        var category_id = "{:I('taskCategoryId', 0, 'intval');}";
        var typeOrder = "{:I('typeOrder', 0, 'intval');}";

        /*选择分类加载*/
        $(document).on("click",".taskCategory",function(){
            //样式改变
            $('.taskCategory').removeClass('class-type-active');
            $(this).addClass("class-type-active");

            category_id = $(this).data('id');
            typeOrder = $('#get-order-choose .class-type-active').data('order');
            ajax_listTask({'taskCategoryId':category_id,'typeOrder':typeOrder},'');
        });

        /*选择排序加载*/
        $(document).on("click",".sorts",function(){
            //样式改变
            $('.sorts').removeClass('class-type-active');
            $(this).addClass("class-type-active");

            typeOrder = $(this).data('order');
            category_id = $('#get-order-list .class-type-active').data('id');
            ajax_listTask({'taskCategoryId':category_id,'typeOrder':typeOrder},'');
        });

        /*查看更多加载*/
        $(document).on("click","#more",function(){
            typeOrder = $('#get-order-choose .class-type-active').data('order');
            category_id = $('#get-order-list .class-type-active').data('id');
            ajax_listTask({'taskCategoryId':category_id,'typeOrder':typeOrder},2);
        });

        /*搜索加载*/
        $('.seach-btn').click(function () {
            var keyword = $("input[name='keyword']").val();
            if (keyword) {
                ajax_listTask({'keyword':keyword},'');
            }
        });

        /*开始加载*/
        $(document).ready(function(){
            ajax_listTask();
        });

        /**
         * ajax 抓取任务页面
         **/
        function ajax_listTask(json_data,type){
            if(!type){
                p = 1;
                cur_page = 2;
                $("#ajax_return").html('');
            }
            if(type == 2) p = cur_page;

            $.ajax({
                url:"{:U('ajax_listTask')}/p/"+p,
                type: 'POST',
                data : json_data,
                success:function(data){
                    if(!data) {
                        $('#more').hide();
                        $('#no').show();
                    }
                    else{
                        if(type == 2) cur_page++;
                        $("#ajax_return").append(data);
                        $('#more').show();
                        $('#no').hide();
                    }
                }
            });
        }

    </script>
</block>
