<extend name="Public/base"/>
<block name="style">
    <link rel="stylesheet" href="__PUBLIC__/pc/css/store-detail.css">
</block>
<block name="body">


    <body class="bg">
    <include file="Public/head"/>
    <div class="session">
    <div class="w1200">
        <include file="Public/nav"/>
        <div class="nav-bred">
            <a href="#">我的发布 ></a>
            <a href="#">任务详情</a>
        </div>
        <div class="sess-wapper">
            <div class="jd_detail">
                <div class="jd_info">
                    <div class="jd_utitle">标题</div>
                    <div class="jd_uvalue">{$taskDetail['title']}</div>
                    <div class="jd_gz" onclick="jumpRules()">接单规则</div>
                </div>
                <div class="jd_info">
                    <div class="jd_utitle">发布方</div>
                    <div class="jd_pub">
                        <span>
                            <img style="width:30px;height:30px;border-radius: 50%;" src="{$taskDetail['head_pic']}"/>
                        </span>
                        {$taskDetail['nick_name']}
                    </div>
                    <if condition="$taskDetail['shop_accounts'] neq 0">
                        <div class="jd_price">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-jdzq_icon_promise"></use>
                            </svg>
                            ￥{:fen_to_yuan($taskDetail['shop_accounts'])}
                        </div>
                    </if>

                    <!--<div onclick="shopInfo({$taskDetail['user_id']})" class="jd_store">店铺</div>-->
                </div>
                <div class="jd_info">
                    <div class="jd_utitle">编号</div>
                    <div class="jd_uvalue">{$taskDetail['id']}</div>
                    <div class="jd_utitle jd_ulb">类别</div>
                    <div class="jd_uvalue">{$taskDetail['category_name']}</div>
                    <div class="jd_utitle jd_ulb">单价</div>
                    <div class="jd_uvalue">￥ {:fen_to_yuan($taskDetail['price'])}</div>
                </div>
                <div class="jd_info">
                    <div class="jd_utitle">文字验证</div>
                    <div class="jd_uvalue">{$taskDetail['validate_words']}</div>
                </div>
                <div class="jd_info">
                    <div class="jd_utitle">链接</div>
                    <div class="jd_uvalue">{$taskDetail['link_url']}</div>
                </div>
                <div class="jd_info">
                    <div class="jd_utitle">备注</div>
                    <div class="jd_uvalue">{$taskDetail['remark']}</div>
                </div>
                <if condition="($taskDetail['top_time'] gt time()) AND ($taskDetail['top_time'] eq UID)">
                <div class="jd_info">
                    <div class="jd_utitle">置顶到期</div>
                    <div class="jd_uvalue">{$taskDetail['top_time']|time_format}</div>
                </div>
                </if>
                <div class="jd_info">
                    <div class="jd_utitle">截止时间</div>
                    <div class="jd_uvalue">{$taskDetail['end_time']|time_format}</div>
                </div>
                <div class="jd_ubottom">

                </div>
            </div>

            <div class="jd_uyanz">
                <div class="">
                    验证图
                </div>
                <div class="jd_gez">
                    (共{:count($taskDetail['check_info'])}张)
                </div>
                <div>
                    <volist name="taskDetail['check_info']" id="v" key="k">
                        <a href="{$v}"  target="_blank"><img src="{$v}"></a>

                    </volist>
                </div>
                <div class="jd_ubottom">
                </div>
            </div>

            <div>
                <div class="js_op">操作说明</div>
                <volist name="taskDetail['step_info']" id="v" key="k">
                    <div class="jd_ut">
                        <div class="jd_ubh">
                            <span>{$k}</span>
                        </div>
                        <div>{$v['step_text']}</div>
                    </div>
                    <div class="jd_ewms">
                        <div class="jd_ewm">
                            <img src="{$v['step_img']}">
                        </div>
                    </div>
                </volist>

                <div class="jd_ubottom">
                </div>
            </div>
            <div class="jd_end">
                完成任务后，请到【我的任务】上传任务截图
            </div>
        </div>

    </div>


    <!--<div class="jd_alertws jd_alerth">-->
        <!--<div class="jd_alertw">-->
            <!--<div class="jd_atip">-->
                <!--提示-->
            <!--</div>-->
            <!--<div class="jd_acontent">-->
                <!--请按备注及操作说明完成任务，并上传验证图<span>【我的任务】</span>，有效时长<span>20分钟</span>，超时您将需要重新抢单-->
            <!--</div>-->
            <!--<div class="jd_abtn">-->
                <!--<span>-->
                    <!--确定抢单-->
                <!--</span>-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="jd_glertws jd_alerth">-->
        <!--<div class="jd_alertw">-->
            <!--<div class="jd_atip">-->
                <!--提示-->
            <!--</div>-->
            <!--<div class="jd_acontent">-->
                <!--选择丢弃该任务将不再对您展示，您确定丢弃吗？-->
            <!--</div>-->
            <!--<div class="jd_gbtn">-->
                <!--<span class="jd_gok">-->
                    <!--确定-->
                <!--</span>-->
                <!--<span class="jd_gno">-->
                    <!--取消-->
                <!--</span>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

</div>


    </body>
</block>
<block name="script">
    <script>
        //跳转店铺
        function shopInfo(user_id) {
            window.location.href = "{:U('Shop/shopDetail')}/user_id/"+user_id;
        }
        $(".class-type span").click(function () {
            $(this).parent().children().removeClass("class-type-active");
            $(this).addClass("class-type-active");
        })

        function jumpRules() {
            window.location.href = "{:U('Article/articleDetail',array('category_id'=>1))}";
        }
    </script>
</block>

</html>