<extend name="Public/base"/>
<block name="style">
    <link rel="stylesheet" href="__PUBLIC__/pc/css/release.css">
</block>
<block name="body">
<body class="bg">
<include file="Public/head"/>
    <div class="session">
        <div class="w1200">
            <include file="Public/nav"/>
            <div class="nav-bred">
                <a href="#">我的发布</a>
            </div>
            <ul class="sess-wapper release">
                <volist name="taskList" id="v">
                    <li class="release-wapper cf">
                        <div class="release-sess fl cf">
                            <div class="release-i fl">
                                <img src="{$v.category_img}" />
                            </div>
                            <div class="sess-box fl">
                                <div class="sess-title cf">
                                    <h1 class="fl">{$v.category_name}</h1>
                                    <p class="fl">{$v.title}</p>
                                    <span class="fl">编号：{$v.id}</span>
                                </div>
                                <ul class="cf">
                                    <li class="fl">单价：￥{:fen_to_yuan($v.price)}</li>
                                    <li class="fl">总量：{$v.task_zong}</li>
                                    <li class="fl">进行中：{$v.beginNum}</li>
                                    <li class="fl">剩余：{$v.task_num}</li>
                                    <li class="fl">已完成：{$v.sucNum}</li>
                                    <li class="fl">待审核：{$v.auditNum}</li>
                                </ul>
                                <if condition="$v['audit_status'] eq 2">
                                    <p class="release-fail">
                                        失败原因: {$v['audit_info']}
                                    </p>
                                    <elseif condition="$v['audit_status'] eq 1"/>
                                    <p class="release-date">
                                        <span>发布：{$v['add_time']|time_format}</span>
                                        <span>截止：{$v['end_time']|time_format}</span>
                                    </p>
                                </if>

                            </div>
                        </div>
                        <div class="release-btng fr cf">
                            <if condition="$v['is_show'] eq 0">

                                <a href="{:U('addTask',array('id'=>$v['id']))}" class="btn-red">修改</a>
                                <button class="btn-red">发布</button>

                                <else/>
                                <switch name="v['audit_status']">
                                    <case value="0">
                                        <button class="review-ing">
                                            审核中
                                        </button>
                                    </case>
                                    <case value="1">
                                        <button class="btn-red">审核</button>
                                        <button class="btn-red">暂停</button>
                                        <button class="btn-red">追加数量</button>
                                        <button class="btn-red">上调出价</button>
                                        <button class="btn-red">下架</button>
                                        <button class="btn-red">刷新</button>
                                        <button class="btn-pur">下载</button>
                                        <button class="btn-red">推荐</button>
                                        <button class="btn-red">置顶</button>
                                    </case>
                                    <case value="2">
                                        <button class="review-fail">
                                            审核失败
                                        </button>
                                        <a href="{:U('addTask',array('id'=>$v['id']))}" class="btn-red">修改</a>
                                    </case>
                                </switch>

                            </if>
                            <button class="btn-red">删除</button>
                            <a href="{:U('Task/myTaskDetail',array('id'=>$v['id']))}" class="btn-pur">查看</a>
                        </div>
                    </li>
                </volist>

            </ul>
        </div>
    </div>
    <!-- 弹窗   默认隐藏 display：none -->
    <div class="pop-ups">   
        <button id="close" class="iconfont icon-common_icon_close"></button>
        <div class="invite-code">
            <h1>提示</h1>
            <p>确定要发布该任务吗</p>
        </div>
        <div class="pro-btng">
            <button class="pro-confirm">
                确定
            </button>
            <button class="pro-cancel">
                取消
            </button>
        </div>
    </div>

</body>
</block>
<block name="script">
    <script>
        $("#close").click(function () {
            $(".pop-ups").hide();
            // $(".model").hide();
        })
    </script>
</block>
</html>