<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/cur.css">
    <link rel="stylesheet" href="css/iconfont.css">
    <link rel="stylesheet" href="css/store-detail.css">
</head>
<body class="bg">
<div class="header">
    <div class="head w1200 cf">
        <a class="h-logo fl">
            <img src="./images/logo.png"/>
        </a>
        <div class="h-user fr cf">
            <div class="user-i fl">
                <span><img src="./images/"></span>

                <p>图图</p>
            </div>
            <i class="iconfont icon-nav_icon_dropdown fl">
                <button class="h-outbtn">退出</button>
            </i>
        </div>
    </div>
</div>
<div class="session">
    <div class="w1200">
        <div class="nav">
            <a class="nav-link nav-active">
                <i class="iconfont icon-leftbar_icon_jdzq_n"></i>
                接单赚钱
            </a>
            <a class="nav-link">
                <i class="iconfont icon-leftbar_icon_publish"></i>
                发布任务
            </a>
            <a class="nav-link">
                <i class="iconfont icon-leftbar_icon_invitef"></i>
                邀请好友
            </a>
            <a class="nav-link">
                <i class="iconfont icon-leftbar_icon_mytask_"></i>
                我的任务
            </a>
            <a class="nav-link">
                <i class="iconfont icon-leftbar_icon_rank_n"></i>
                排行榜
            </a>
            <a class="nav-link">
                <i class="iconfont icon-leftbar_icon_my_n"></i>
                个人中心
            </a>
            <a class="nav-link">
                <i class="iconfont icon-leftbar_icon_mypubli"></i>
                我的发布
            </a>
            <a class="nav-link">
                <i class="iconfont icon-leftbar_icon_mywalle"></i>
                我的钱包
            </a>
            <a class="nav-link">
                <i class="iconfont icon-leftbar_icon_income_"></i>
                收入分红
            </a>
            <a class="nav-link">
                <i class="iconfont icon-leftbar_icon_coopera"></i>
                合作商
            </a>
            <a class="nav-link">
                <i class="iconfont icon-leftbar_icon_questio"></i>
                常见问题
            </a>
            <a class="nav-link">
                <i class="iconfont icon-leftbar_icon_opinion"></i>
                意见反馈
            </a>
            <a class="nav-link">
                <i class="iconfont icon-leftbar_icon_useragr"></i>
                用户协议
            </a>
        </div>
        <div class="nav-bred">
            <a href="#">接单赚钱 ></a>
            <a href="#">任务详情</a>
        </div>
        <div class="sess-wapper">
            <div class="jd_detail">
                <div class="jd_info">
                    <div class="jd_utitle">标题</div>
                    <div class="jd_uvalue">天天快报一秒完成</div>
                    <div class="jd_gz">接单规则</div>
                </div>
                <div class="jd_info">
                    <div class="jd_utitle">发布方</div>
                    <div class="jd_pub">
                        <span>
                            <img src="./images/user.png"/>
                        </span>
                        697953
                    </div>
                    <div class="jd_price">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-jdzq_icon_promise"></use>
                        </svg>
                        ￥2000
                    </div>
                    <div class="jd_store">店铺</div>
                </div>
                <div class="jd_info">
                    <div class="jd_utitle">编号</div>
                    <div class="jd_uvalue">754616</div>
                    <div class="jd_utitle jd_ulb">类别</div>
                    <div class="jd_uvalue">加粉</div>
                    <div class="jd_utitle jd_ulb">单价</div>
                    <div class="jd_uvalue">￥ 0.3</div>
                </div>
                <div class="jd_info">
                    <div class="jd_utitle">文字验证</div>
                    <div class="jd_uvalue">微信名字</div>
                </div>
                <div class="jd_info">
                    <div class="jd_utitle">链接</div>
                    <div class="jd_uvalue">单价</div>
                </div>
                <div class="jd_info">
                    <div class="jd_utitle">备注</div>
                    <div class="jd_uvalue">单价</div>
                </div>
                <div class="jd_info">
                    <div class="jd_utitle">置顶到期</div>
                    <div class="jd_uvalue">单价</div>
                </div>
                <div class="jd_info">
                    <div class="jd_utitle">截止时间</div>
                    <div class="jd_uvalue">单价</div>
                </div>
                <div class="jd_ubottom">

                </div>
            </div>

            <div class="jd_uyanz">
                <div class="">
                    验证图
                </div>
                <div class="jd_gez">
                    (共2张)
                </div>
                <div>
                    <img src="./images/wxjt.jpg">
                    <img src="./images/wxjt.jpg">
                </div>
                <div class="jd_ubottom">
                </div>
            </div>

            <div>
                <div class="js_op">操作说明</div>
                <div class="jd_ut">
                    <div class="jd_ubh">
                        <span>1</span>
                    </div>
                    <div>扫码添加微信好友并关注</div>
                </div>
                <div class="jd_ewms">
                    <div class="jd_ewm">
                        <img src="./images/ewm.jpg">
                    </div>

                    <div class="jd_uop ">
                        <span class="jd_ugrab">
                        <img src="./images/common_btn_grab@2x.png">
                        </span>
                        <span class="jd_ugiveup">
                        <img src="./images/common_btn_giveup@2x.png">
                        </span>
                    </div>

                    <div class="jd_ustate jd_alerth">
                        <span class="jd_uup">
                        <img src="./images/common_btn_upload@2x.png">
                        </span>
                    </div>


                </div>
                <div class="jd_ubottom">
                </div>
            </div>
            <div class="jd_end">
                完成任务后，请到【我的任务】上传任务截图
            </div>
        </div>

    </div>


    <div class="jd_alertws jd_alerth">
        <div class="jd_alertw">
            <div class="jd_atip">
                提示
            </div>
            <div class="jd_acontent">
                请按备注及操作说明完成任务，并上传验证图<span>【我的任务】</span>，有效时长<span>20分钟</span>，超时您将需要重新抢单
            </div>
            <div class="jd_abtn">
                <span>
                    确定抢单
                </span>

            </div>
        </div>
    </div>

    <div class="jd_glertws jd_alerth">
        <div class="jd_alertw">
            <div class="jd_atip">
                提示
            </div>
            <div class="jd_acontent">
                选择丢弃该任务将不再对您展示，您确定丢弃吗？
            </div>
            <div class="jd_gbtn">
                <span class="jd_gok">
                    确定
                </span>
                <span class="jd_gno">
                    取消
                </span>
            </div>
        </div>
    </div>

</div>



<script src="js/iconfont.js"></script>
<script src="js/jquery-3.1.1.min.js"></script>
<script>
    $(".class-type span").click(function () {
        $(this).parent().children().removeClass("class-type-active");
        $(this).addClass("class-type-active");
    })

    $(".jd_ugrab").click(function () {
        $(".jd_alertws").removeClass("jd_alerth");
    })
    $(".jd_abtn").click(function () {
        $(".jd_alertws").addClass("jd_alerth");
        $(".jd_uop").addClass("jd_alerth");
        $(".jd_ustate").removeClass("jd_alerth");

    })

    $(".jd_ugiveup").click(function () {
        $(".jd_glertws").removeClass("jd_alerth");
    })
    $(".jd_gok").click(function () {
        $(".jd_glertws").addClass("jd_alerth");
    })
    $(".jd_gno").click(function () {
        $(".jd_glertws").addClass("jd_alerth");
    })
</script>
</body>
</html>