<extend name="Public/base"/>
<block name="style">
    <link rel="stylesheet" href="__PUBLIC__/pc/css/store-detail.css">
    <style>

        .fix-content {
            position: absolute;
            width: 100px;
            height: 150px;
            bottom: 30%;
            right: 5%;
            z-index: 5;
        }
        .jd_alertw {
            position: absolute;
            left: 35%;
            top: 50%;
            display: block;
            background: white;
            width: 500px;
            height: 250px;
            border: 1px solid #999999;
            z-index: 10000;
            border-radius: 8px;
            padding: 26px;
        }
        .jd_uop1 {
            width: 80px;
            display: block;
        }
        .grap-order-gray {
            position: fixed;
            z-index: -1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
            opacity: 0;
            background: rgba(0,0,0,.4);
        }
        .grap-order-boom {
            position: fixed;
            top: 36.4%;
            left: 35%;
            width: 310px;
            height: 180px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: #fff;
            display: none;
            border-radius: 5px;
        }
        .grap-order-boom .grap-order-title {
            width: 100%;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;

        }
        .grap-order-boom .grap-order-title p {
            height: 20px;
            font-size: 18px;
            line-height: 20px;
            text-align: center;
            padding: 2px;
        }
        .grap-order-boom .grap-order-details {
            font-size: 16px;
            color: #888;
            padding: 15px;
        }
        .grap-order-boom .grap-order-details span {
            color: #f65454;
        }
        .grap-order-boom .grap-order-btnbox {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .grap-order-boom .grap-order-btnbox button {
            background: #6f75ef;
            color: #fff;
            font-size: 18px;
            text-align: center;
            line-height: 18px;
            width: 110px;
            height: 40px;
        }
        .active {
            z-index: 998;
            opacity: 1;
        }
        .check-img .check-item {
            width: 45%;
            height: auto;
            display: inline-block;
        }
        .check-img img {
            max-width: 200px;
            text-align: center;
        }
    </style>
</block>
<block name="body">
    <body class="bg">
    <include file="Public/head"/>
    <div class="session">
        <div class="w1200" style="position: relative">
            <include file="Public/nav"/>
            <div class="nav-bred">
                <a href="#">接单赚钱 ></a>
                <a href="#">任务详情</a>
            </div>
            <div class="sess-wapper">
                <div class="jd_detail">
                    <div class="jd_info">
                        <div class="jd_utitle">标题</div>
                        <div class="jd_uvalue">{$taskDetail['title']}</div>
                        <a href="{:U('Article/articleDetail',array('category_id'=>1))}" class="jd_gz">接单规则</a>
                    </div>
                    <div class="jd_info">
                        <div class="jd_utitle">发布方</div>
                        <div class="jd_pub">
                        <span>
                            <img src="{$taskDetail['head_pic']}"/>
                        </span>
                            {$taskDetail['nick_name']}
                        </div>
                        <if condition="$taskDetail['shop_accounts'] neq 0">
                            <div class="jd_price">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-jdzq_icon_promise"></use>
                                </svg>
                                ￥{:fen_to_yuan($taskDetail['shop_accounts'])}
                            </div>
                        </if>
                        <div onclick="shopInfo({$taskDetail['user_id']})" class="jd_store">店铺</div>
                    </div>
                    <div class="jd_info">
                        <div class="jd_utitle">编号</div>
                        <div class="jd_uvalue">{$taskDetail['id']}</div>
                        <div class="jd_utitle jd_ulb">类别</div>
                        <div class="jd_uvalue">{$taskDetail['category_name']}</div>
                        <div class="jd_utitle jd_ulb">单价</div>
                        <div class="jd_uvalue">￥ {:fen_to_yuan($taskDetail['price'])}</div>
                    </div>
                    <div class="jd_info">
                        <div class="jd_utitle">文字验证</div>
                        <div class="jd_uvalue">{$taskDetail['validate_words']}</div>
                    </div>
                    <div class="jd_info">
                        <div class="jd_utitle">链接</div>
                        <div class="jd_uvalue">{$taskDetail['link_url']}</div>
                    </div>
                    <div class="jd_info">
                        <div class="jd_utitle">备注</div>
                        <div class="jd_uvalue">{$taskDetail['remark']}</div>
                    </div>
                    <if condition="$taskDetail['top_time'] gt 0">
                        <div class="jd_info">
                            <div class="jd_utitle">置顶到期</div>
                            <div class="jd_uvalue">{$taskDetail['top_time']|time_format}</div>
                        </div>
                    </if>
                    <div class="jd_info">
                        <div class="jd_utitle">截止时间</div>
                        <div class="jd_uvalue">{$taskDetail['end_time']|time_format}</div>
                    </div>
                    <div class="jd_ubottom">

                    </div>
                </div>

                <div class="jd_uyanz">
                    <div class="">
                        验证图
                    </div>
                    <div class="jd_gez">
                        (共{:count($taskDetail['check_info'])}张)
                    </div>
                    <div class="check-img">

                        <volist name="taskDetail['check_info']" id="v" key="k">
                            <div class="check-item">
                                <a href="{$v}"  target="_blank"><img src="{$v}"></a>
                            </div>

                        </volist>
                    </div>
                    <div class="jd_ubottom">
                    </div>
                </div>

                <div>
                    <div class="js_op">操作说明</div>
                    <volist name="taskDetail['step_info']" id="v" key="k">
                        <div class="jd_ut">
                            <div class="jd_ubh">
                                <span>{$k}</span>
                            </div>
                            <div>{$v['step_text']}</div>
                        </div>
                        <div class="jd_ewms">
                            <div class="jd_ewm">
                                <a href="{$v['step_img']}"  target="_blank"><img src="{$v['step_img']}"></a>
                            </div>
                        </div>
                    </volist>

                    <div class="jd_ubottom">
                    </div>
                </div>
                <div class="jd_end">
                    <input id="task_id" type="hidden" value="{$id}">
                    完成任务后，请到【我的任务】上传任务截图
                </div>
            </div>
            <div class="fix-content">
                <if condition="($taskDetail['task_log_id'] eq 0) AND ($taskDetail['is_stale'] eq 1)">

                    <div class="jd_uop1">
                        <!--抢单-->
                        <span class="jd_ugrab">
                            <img id="show-opcity" src="__PUBLIC__/pc/images/common_btn_grab@2x.png">
                        </span>
                        <!--丢弃-->
                        <span class="jd_ugiveup">
                            <img onclick="discardTask()" src="__PUBLIC__/pc/images/common_btn_giveup@2x.png">
                        </span>
                    </div>
                    <elseif condition="($taskDetail['task_log_id'] neq 0) AND ($taskDetail['log_valid_status'] eq 0)"/>
                    <div class="jd_uop1">
                        <span class="jd_ugrab">
                            <img onclick="taskVerify()" src="__PUBLIC__/pc/images/common_btn_upload@2x.png">
                        </span>
                    </div>
                    <elseif condition="($taskDetail['task_log_id'] neq 0) AND ($taskDetail['log_valid_status'] eq 3)"/>
                    <div class="jd_uop1">
                        <!--抢单-->
                        <span class="jd_ugrab">
                            <img id="show-opcity" src="__PUBLIC__/pc/images/common_btn_grab@2x.png">
                        </span>
                        <!--丢弃-->
                        <span class="jd_ugiveup">
                            <img onclick="discardTask()" src="__PUBLIC__/pc/images/common_btn_giveup@2x.png">
                        </span>
                    </div>
                    <elseif condition="($taskDetail['task_log_id'] neq 0) AND ($taskDetail['log_valid_status'] eq 2)"/>
                        <div class="jd_uop1">
                            <!--重做-->
                            <span class="jd_ugrab">
                                <img onclick="taskVerify()" src="__PUBLIC__/pc/images/common_btn_upload@2x.png">
                            </span>
                            <!--放弃-->
                            <span class="re-task" class="jd_ugiveup">
                                <img src="__PUBLIC__/pc/images/common_btn_giveup@2x.png">
                            </span>
                        </div>
                    <else/>
                </if>
            </div>
        </div>

        <div class="grap-order-gray">
            <div class="grap-order-boom" id="grap-order-content">
                <div class="grap-order-title">
                    <p>提示</p>
                </div>
                <p class="grap-order-details">请按备注及操作说明完成任务，并上传验证图到<span>【我的任务】</span>，有效时长<span>20分钟</span>，超时您将需要重新抢单</p>
                <div class="grap-order-btnbox">
                    <button type="button" onclick="getTask()">确定抢单</button>
                </div>
            </div>
        </div>
    </div>
    </body>
</block>
<block name="script">
    <script>
        //跳转店铺
        function shopInfo(user_id) {
            window.location.href = "{:U('Shop/shopDetail')}/user_id/"+user_id;
        }
        //丢弃任务
        function discardTask() {
            var delArray = ['取消','确定'];
            mui.confirm('选择丢弃该任务将不再对您展示，您确定丢弃吗？', '提示', delArray, function(e) {
                if (e.index == 0) {

                } else {
                    var task_id = $("#task_id").val();
                    $.post("{:U('Task/discardTask')}",{'id':task_id}, function (data) {
                        mui.toast(data.info);
                        if (data.status == 1) {
                            window.location.href = "{:U('Task/listTask')}";
                        }
                    })
                }
            })
        }
        //确认抢单弹窗
        $(".fix-content").on('click', '#show-opcity', function () {
            $(".grap-order-gray").addClass("active");
            $("#grap-order-content").css("display","block");
        })
        $(".grap-order-gray").on('click', function () {
            $(this).removeClass('active');
        })
        //抢单
        function getTask() {
            var id = $('#task_id').val();
            $.post("{:U('TaskLog/getTask')}", {'id':id}, function (data) {
                mui.toast(data.info);
                if (data.status == 1) {

                    window.location.reload();
                }
            })
        }
        //上传验证
        function taskVerify() {
            window.location.href = "{:U('TaskLog/taskVerify', array('id'=>$taskDetail['task_log_id']))}";
        }

        //放弃任务
        $(".fix-content").on('tap', '.re-task', function () {
            window.location.href = "{:U('TaskLog/delTaskLog', array('id'=>$taskDetail['task_log_id']))}";
        })
    </script>
</block>
</html>