<!doctype html>
<html>
<head>
	<title>一号广场商家入驻中心</title>
    <link rel="stylesheet" type="text/css" href="__HOME__/css/css.css"/>
    <link rel="stylesheet" type="text/css" href="__ADMIN__/ui/css/amazeui.min.css" media="all">
    <!--[if lt IE 9]-->
    <script type="text/javascript" src="__PUBLIC__/jquery-1.10.2.min.js"></script>
    <!--[endif]-->
    <script type="text/javascript" src="__PUBLIC__/jquery-2.0.3.min.js"></script>
    <block name="style"></block>
</head>
<body>

<include file="Common/merchant_head"/>
<block name="body">
    I am body!
</block>

<block name="footer">

</block>
<include file="Common/merchant_script"/>

<block name="script"></block>
</body>
</html>
