<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>每周排名</title>
    <link href="__PUBLIC__/mobile/css/mui.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile/css/style.css"/>
</head>
<body>
    <header class="mui-bar mui-bar-nav help-duck-head">
        <a></a>
        <p class="mui-title">每周排名</p>
        <a href="rank-history.html">历史榜单</a>
    </header>

    <div class="rank-week-top3">
        <div class="rank-top3-title">
            <div class="top3-line"></div>
            <p>接单能手排行榜</p>
            <div class="top3-line"></div>
        </div>

        <div class="rank-week-top3-users">
            <div class="rank-top3-user">
                <div class="rank-top3-headimg">
                    <img class="top3-user-headimg" src="__PUBLIC__/mobile/images/commom_btn_giveup.png">
                    <img class="top3-border" src="__PUBLIC__/mobile/images/common_img_no2.png">
                </div>
                <div class="top3-user-info">
                    <p>没有腹肌的IT</p>
                    <span>ID：1264195</span>
                    <p>￥1119</p>
                </div>
            </div>

            <div class="rank-top3-user">
                <div class="rank-top3-headimg">
                    <img class="top3-user-headimg" src="__PUBLIC__/mobile/images/commom_btn_grab.png">
                    <img class="top3-border" src="__PUBLIC__/mobile/images/common_img_no1.png">
                </div>
                <div class="top3-user-info">
                    <p>哈哈</p>
                    <span>ID：1264195</span>
                    <p>￥1119</p>
                </div>
            </div>

            <div class="rank-top3-user">
                <div class="rank-top3-headimg">
                    <img class="top3-user-headimg" src="__PUBLIC__/mobile/images/commom_btn_upload.png">
                    <img class="top3-border" src="__PUBLIC__/mobile/images/common_img_no3.png">
                </div>
                <div class="top3-user-info">
                    <p>汪汪屋</p>
                    <span>ID：1264195</span>
                    <p>￥1119</p>
                </div>
            </div>
        </div>
    </div>

    <div class="top-list-title">
        <p>4-100名</p>
        <p>赚钱金额</p>
    </div>

    <div class="top-user-list">
        <div class="top-user-item">
            <div class="top-user-left">
                <p>4</p>
                <img src="__PUBLIC__/mobile/images/home_jdzq_btn_rank.png">
                <p>星光灿烂</p>
                <p>ID：985110</p>
            </div>
            <p>￥924</p>
        </div>

        <div class="top-user-item">
            <div class="top-user-left">
                <p>5</p>
                <img src="__PUBLIC__/mobile/images/home_jdzq_btn_rank.png">
                <p>梦里无她</p>
                <p>ID：136589</p>
            </div>
            <p>￥869</p>
        </div>

        <div class="top-user-item">
            <div class="top-user-left">
                <p>6</p>
                <img src="__PUBLIC__/mobile/images/home_jdzq_btn_rank.png">
                <p>无法无天</p>
                <p>ID：963349</p>
            </div>
            <p>￥818</p>
        </div>

        <div class="top-user-item">
            <div class="top-user-left">
                <p>7</p>
                <img src="__PUBLIC__/mobile/images/home_jdzq_btn_rank.png">
                <p>夜色微凉</p>
                <p>ID：123544</p>
            </div>
            <p>￥801</p>
        </div>

        <div class="top-user-item">
            <div class="top-user-left">
                <p>8</p>
                <img src="__PUBLIC__/mobile/images/home_jdzq_btn_rank.png">
                <p>追忆少年</p>
                <p>ID：119119</p>
            </div>
            <p>￥787</p>
        </div>
        <div class="top-user-item">
            <div class="top-user-left">
                <p>9</p>
                <img src="__PUBLIC__/mobile/images/home_jdzq_btn_rank.png">
                <p>小球球</p>
                <p>ID：100633</p>
            </div>
            <p>￥767</p>
        </div>

        <div class="top-user-item user-top10">
            <div class="top-user-left">
                <p>10</p>
                <img src="__PUBLIC__/mobile/images/home_jdzq_btn_rank.png">
                <p>小球球球球球</p>
                <p>ID：100633</p>
            </div>
            <p>￥767</p>
        </div>

        <div class="top-user-item user-top100">
            <div class="top-user-left">
                <p>100</p>
                <img src="__PUBLIC__/mobile/images/home_jdzq_btn_rank.png">
                <p>小球球球球球</p>
                <p>ID：100633</p>
            </div>
            <p>￥767</p>
        </div>
    </div>

    <footer class="mui-bar mui-bar-tab help-duck-foot">
        <a href="index.html">
            <div>
                <img src="__PUBLIC__/mobile/images/tab_icon_home_n.png">
                <span>首页</span>
            </div>
        </a>
        <a href="message.html">
            <div>
                <img src="__PUBLIC__/mobile/images/tab_icon_message_n.png">
                <span>消息</span>
            </div>
        </a>
        <a href="rank-week.html">
            <div>
                <img src="__PUBLIC__/mobile/images/tab_icon_rank_s.png">
                <span style="color: #6f75ef">排行榜</span>
            </div>
        </a>
        <a href="personal-center.html">
            <div>
                <img src="__PUBLIC__/mobile/images/tab_icon_my_n.png">
                <span>我的</span>
            </div>
        </a>
    </footer>

</body>
<script src="__PUBLIC__/mobile/js/mui.min.js"></script>
<script type="text/javascript" charset="utf-8">
    mui.init();
</script>
<script src="__PUBLIC__/mobile/js/jquery-3.0.0.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/mobile/js/public.js" type="text/javascript" charset="utf-8"></script>
</html>