<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>粉丝关注</title>
    <link href="__PUBLIC__/mobile/css/mui.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile/css/style.css"/>
</head>
<body>
    <header class="mui-bar mui-bar-nav help-duck-head">
        <a href="{:U('User/personalCenter')}" class="mui-icon mui-icon-left-nav mui-pull-left"></a>
        <p class="mui-title">粉丝关注</p>
        <a></a>
    </header>

    <div class="my-fans-top">
        <div class="my-img-info">
            <img src="{$userInfo['headPic']}">
            <div class="my-fans-basic">
                <p>{$userInfo['nickName']}</p>
                <span>ID</span><span>{$userInfo['user_id']}</span>
            </div>
        </div>
        <div class="my-fans-data">
            <div>
                <span>我的粉丝</span>
                <p><span>{$fansCount}</span>人</p>
            </div>
            <div>
                <span>我的关注</span>
                <p><span>{$focusCount}</span>人</p>
            </div>
        </div>
    </div>

    <div class="mui-content" id="top-shop-content">
        <div id="my-fans-info" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-primary top-shop-choose my-fans-attention" >
            <a data-type="0" class="mui-control-item mui-active my-fans">
                <p>我的粉丝</p>
            </a>
            <a data-type="1" class="mui-control-item my-attention">
                <p>我的关注</p>
            </a>
        </div>

        <div>
            <div id="item1" class="mui-control-content mui-active">
                <div class="mui-scroll-content">
                    <div class="mui-scroll">
                        <ul class="mui-table-view my-fans-view msg-list">
                            <foreach name="fanslist"  item="v">
                                <li class="mui-table-view-cell my-fans-li">
                                    <if condition="$type eq 0">
                                        <a href="{:U('Shop/shopDetail', array('user_id'=>$v['user_id']))}" data-user="{$v['user_id']}" class="my-fans-item">
                                            <div class="my-fans-user">
                                                <div class="my-fans-left">
                                                    <img src="{$v.head_pic}">
                                                    <div class="fans-user-info">
                                                        <p>{$v.nick_name}</p>
                                                        <div>
                                                            <span>{:time_format($v['add_time'])}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <img src="__PUBLIC__/mobile/images/common_icon_more.png">
                                            </div>
                                        </a>
                                            <else />

                                        <a href="{:U('Shop/shopDetail', array('user_id'=>$v['fans_user_id']))}" data-user="{$v['user_id']}" class="my-fans-item">
                                            <div class="my-fans-user">
                                                <div class="my-fans-left">
                                                    <img src="{$v.head_pic}">
                                                    <div class="fans-user-info">
                                                        <p>{$v.nick_name}</p>
                                                        <div>
                                                            <span>{:time_format($v['add_time'])}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <img src="__PUBLIC__/mobile/images/common_icon_more.png">
                                            </div>
                                        </a>
                                    </if>
                                </li>
                            </foreach>
                        </ul>
                        <div class="top-ups-sure">
                            <button id="load">加载更多</button>
                        </div>
                    </div>
                    <div class="mui-scrollbar mui-scrollbar-vertical">
                        <div class="mui-scrollbar-indicator"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</body>
<script src="__PUBLIC__/mobile/js/mui.min.js"></script>
<script type="text/javascript" charset="utf-8">
    mui.init();
</script>
<script src="__PUBLIC__/mobile/js/jquery-3.0.0.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/mobile/js/public.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    var p = 1;
    var type = 0;
    $('#top-shop-content').on('tap', '.mui-control-item',function () {
        type =  $(this).data('type');
        p = 1;
        var json_data = {
            "type":type,
            "p":p
        };
        //console.log(json_data);
        $.post("{:U('Fans/myFans')}/p/"+p, json_data, function (data) {
            if (data.status == 1) {
                $(".msg-list").html('');
                if (data.data.length) {

                    var html1 = '';
                    for (var i=0; i < data.data.length; i++) {
                        if (type == 0) {
                            html1 += '<li onclick="shopInfo('+data.data[i].user_id+')" class="mui-table-view-cell my-fans-li">';
                        } else {
                            html1 += '<li onclick="shopInfo('+data.data[i].fans_user_id+')" class="mui-table-view-cell my-fans-li">';
                        }

                        html1+='<a data-user="'+data.data[i].user_id+'" class="my-fans-item">'+
                            '<div class="my-fans-user">'+
                            '<div class="my-fans-left">'+
                            '<img src="'+data.data[i].head_pic+'">'+
                            '<div class="fans-user-info">'+
                            '<p>'+data.data[i].nick_name+'</p>'+
                        '<div>'+
                        '<span>'+data.data[i].add_time+'</span>'+
                        '</div>'+
                        '</div>'+
                        '</div>'+
                        '<img src="__PUBLIC__/mobile/images/common_icon_more.png">'+
                            '</div>'+
                            '</a>'+
                            '</li>';
                    }

                    $(".msg-list").append(html1);
                } else {
                    mui.toast('没有更多了');

                }
            }
        })
    });
    //加载更多
    $('#load').on('click', function () {
        p++;
        var json_data = {
            "type":type,
            "p":p
        };
        $.post("{:U('Fans/myFans')}/p/"+p, json_data, function (data) {
            if (data.status == 1) {

                if (data.data.length) {

                    var html1 = '';
                    for (var i=0; i < data.data.length; i++) {
                        html1 += '<li class="mui-table-view-cell my-fans-li">'+
                            '<a data-user="'+data.data[i].user_id+'" class="my-fans-item">'+
                            '<div class="my-fans-user">'+
                            '<div class="my-fans-left">'+
                            '<img src="'+data.data[i].head_pic+'">'+
                            '<div class="fans-user-info">'+
                            '<p>'+data.data[i].nick_name+'</p>'+
                            '<div>'+
                            '<span>'+data.data[i].add_time+'</span>'+
                            '</div>'+
                            '</div>'+
                            '</div>'+
                            '<img src="__PUBLIC__/mobile/images/common_icon_more.png">'+
                            '</div>'+
                            '</a>'+
                            '</li>';
                    }

                    $(".msg-list").append(html1);
                } else {
                    mui.toast('没有更多了');

                }
            }
        })
    });
    //跳转店铺
      function shopInfo(user_id){
          window.location.href = "{:U('Shop/shopDetail')}/user_id/"+user_id;
      }
</script>
</html>