<extend name="Public/base"/>
<block name="style">
    <link rel="stylesheet" href="__PUBLIC__/pc/css/cur.css">
    <link rel="stylesheet" href="__PUBLIC__/pc/css/release-review.css">
    <link rel="stylesheet" href="__PUBLIC__/pc/css/iconfont.css">
    <link rel="stylesheet" href="__PUBLIC__/pc/css/swiper.min.css">
</block>
<block name="body">
    <body class="bg">
    <include file="Public/head"/>
    <div class="session">
        <div class="w1200">
            <include file="Public/nav"/>
            <div class="nav-bred">
                <a href="#">我的发布 ></a>
                <a href="#">审核</a>
            </div>
            <div class="sess-wapper review">
                <button class="review-complaint" onclick="complaint({$taskLogInfo['list'][0]['tid']})">投诉</button>
                <div class="review-wapper">
                    <div class="review-title">
                        <h1>审核情况</h1>
                        <ul>
                            <li>已审核：{$taskAudit[is_audit]}</li>
                            <li>未审核：{$taskAudit[no_audit]}</li>
                        </ul>
                    </div>
<if condition="$taskLogInfo['list'][0]['valid_status'] eq 2">
                    <div class="reivew-chat">
                        <div class="chat-name">
                            信息交流：
                        </div>
                        <div class="cf chat-ul">
                            <ul class=" fl">
                                <if condition="count($taskLogInfo['list'][0]['message'][userChat])  neq 0  ">
                                    <foreach  name="taskLogInfo['list'][0]['message'][userChat]"  item="v">
                                        <li>
                                            <span>{$v.content}</span>
                                        </li>
                                    </foreach>
                                </if>
                            </ul>
                            <ul id="myMessage" class="fr">
                                <if condition="count($taskLogInfo['list'][0]['message'][taskChat])  neq 0  ">
                                    <foreach  name="taskLogInfo['list'][0]['message'][taskChat]"  item="v">
                                        <li>
                                            <span>{$v.content}</span>
                                        </li>
                                    </foreach>
                                </if>
                            </ul>
                        </div>
                        <div class="reivew-btn">
                            <button onclick="reply({$taskLogInfo['list'][0]['user_id']},{$taskLogInfo['list'][0]['tid']})" >回复</button>
                        </div>
                    </div>
</if>
                    <div class="review-sess">
                        <div class="review-user cf">
                            <div class="cf">
                                <span class="user-i fl"><img src="{$taskLogInfo['list'][0]['head_pic']}" /></span>
                                <div class="user-name fl">
                                    <h1> {$taskLogInfo['list'][0]['nick_name']}</h1>
                                    <p>ID{$taskLogInfo['list'][0]['user_id']}</p>
                                </div>
                            </div>
                            <div class="review-p">{:show_valid_status($taskLogInfo['list'][0]['valid_status'])}</div>
                        </div>
                        <div class="review-swiper">
                            <!-- Swiper -->
                            <div class="swiper-container">
                                <div class="swiper-slide">
                                    <foreach name="taskLogInfo['list'][0]['valid_img']" item="v">
                                        <span class="slide-img">
                                        <img src="{$v}" />
                                       </span>
                                    </foreach>
                                </div>
                            </div>
                            <div class="btng">
                                <if condition="$p elt 0">
                                    <button onclick="none()">
                                        <img src="__PUBLIC__/pc/images/mypublish_check_icon_previous.png">
                                    </button>
                                    <else />
                                    <button onclick="none()">
                                        <a href="{:U('TaskLog/auditTask',array('task_id' => $taskLogInfo['list'][0]['task_id'],'p' => $p - 1 ))}"><img src="__PUBLIC__/pc/images/mypublish_check_icon_previous.png"></a>
                                    </button>
                                </if>
                                <if condition="$p lt $taskLogInfo['count']">
                                    <button>
                                    <a href="{:U('TaskLog/auditTask',array('task_id' => $taskLogInfo['list'][0]['task_id'],'p' => $p + 1 ))}"><img src="__PUBLIC__/pc/images/mypublish_check_icon_next.png"></a>
                                    </button>
                                    <else />
                                    <button>
                                    <a onclick="none()"><img src="__PUBLIC__/pc/images/mypublish_check_icon_next.png"></a>
                                    </button>
                                </if>

                            </div>
                        </div>
                        <if condition="$taskLogInfo['list'][0]['valid_status']  eq 1">
                            <div class="upload-btng">
                                <button onclick="fail({$taskLogInfo['list'][0]['tid']})" >不合格</button>
                                <button  onclick="pass({$taskLogInfo['list'][0]['tid']})" >合格</button>
                            </div>
                            <else /> <div class="upload-btng">
                                        <button >{:show_valid_status($taskLogInfo['list'][0]['valid_status'])}</button>
                                    </div>
                        </if>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pop-ups">
        <button id="close" class="iconfont icon-common_icon_close"></button>
        <div class="invite-code">
            <h1>提示</h1>
            <textarea placeholder="请输入投诉理由和内容"></textarea>
        </div>
        <div class="pro-btng">
            <button class="pro-confirm">
                确定
            </button>
            <button class="pro-cancel">
                取消
            </button>
        </div>
    </div>
    <div class="model" id="model">
        <div class="pop-no">
            <h1>不合格原因</h1>
            <textarea placeholder="请输入不合格的原因" id="valid_text"></textarea>
            <div class="pop-up cf"  id="apendImg">
                <div class="up-img fl">
                    <img src="__PUBLIC__/mobile/images/common_icon_addpicture_small.png">
                    <input id="upload" class="weui-uploader__input" type="file" accept="image/*" multiple="">
                </div>
            </div>
            <p class="pop-tips">
                上传相关截图说明
            </p>
            <div class="up-btn">
                <button onclick="off()">
                    取消
                </button>
                <button onclick="failBtn()">
                    确定
                </button>
            </div>
        </div>
    </div>
</body>
</block>
<block name="script">
    <script src="__PUBLIC__/pc/js/iconfont.js"></script>
    <script src="__PUBLIC__/pc/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/fileupload/js/vendor/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="__PUBLIC__/fileupload/js/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="__PUBLIC__/fileupload/js/jquery.fileupload.js"></script>
    <script>
        $(".review-complaint").click(function () {
            $(".pop-ups").show();
        });
        $("#close").click(function () {
            $(".pop-ups").hide();
        });
        function off() {
            $(".model").hide();
        }
        function  reply(user_id,task_log_id) {
            var btnArray = ['取消', '确定'];
            mui.prompt('', '请输入回复的信息', '信息交流', btnArray, function (e) {
                if (e.index == 1) {
                    var content = e.value;
                    if (content == '') {
                        mui.toast('请输入回复内容');
                        return
                    }
                    mui.ajax(url + 'Mobile/Chat/addChat', {
                        data: {
                            user_id: user_id,
                            task_log_id: task_log_id,
                            content: content,
                            type : 1
                        },
                        dataType: 'json',//服务器返回json格式数据
                        type: 'post',//HTTP请求类型
                        timeout: 10000,//超时时间设置为10秒；
                        success: function (data) {
                            mui.toast(data['info']);
                            // alert(JSON.stringify(data));
                            // if (data['status'] == 1) {
                            //     setTimeout(function () {
                            //         window.location.reload()
                            //     }, 1000);
                            // }
                            $('#myMessage').append("<li><span>"+ content +"</span></li>");
                        },
                        error: function (xhr, type, errorThrown) {
                            //异常处理；
                            console.log(type);
                        }
                    });
                } else {
                    // 点击了确定按钮
                }
            })
        }
        function complaint(tid){
            var btnArray = ['取消', '确定'];
            mui.prompt('', '请输入投诉理由和内容', '投诉', btnArray, function(e) {
                if (e.index == 1) {
                    var information = e.value;
                    if(information == ''){
                        mui.toast('请输入投诉内容');
                        return
                    }
                    mui.ajax(url + 'Mobile/Complaint/addComplaint',{
                        data:{
                            tid : tid,
                            information: information,
                            type : 0
                        },
                        dataType:'json',//服务器返回json格式数据
                        type:'post',//HTTP请求类型
                        timeout:10000,//超时时间设置为10秒；
                        success:function(data){
                            mui.toast(data['info']);
                        },
                        error:function(xhr,type,errorThrown){
                            //异常处理；
                            console.log(type);
                        }
                    });
                } else {
                    // 点击了确定按钮
                }
            })
        }
        function fail(task_id){
            $("#model").attr('name',task_id);
            $("#model").css("display","block");
        }
        function failBtn() {
            var tid = $("#model").attr('name');
            var valid_text =  $.trim($("#valid_text").val());
            var valid_img = $(" input[ name='valid_img[]']");
            if(valid_img.length == 0){
                mui.toast('请您上传不合格图片!');
                return
            }
            var img = '';
            for(var i = 0; i < valid_img.length; i++){
                img += valid_img[i].defaultValue + ',';
            }
            if(valid_text.length == 0 || valid_text == ''){
                mui.toast('请您输入字符!');
                return
            }else if(valid_text.length  > 255){
                mui.toast('您输入的字符太多!');
                return
            }
             mui.ajax(url + 'Home/TaskLog/fail',{
                        data:{
                            id : tid,
                            valid_text : valid_text,
                            valid_pic : img

                        },
                        dataType:'json',//服务器返回json格式数据
                        type:'post',//HTTP请求类型
                        timeout:10000,//超时时间设置为10秒；
                        success:function(data){
                            mui.toast(data['info']);
                            // alert(JSON.stringify(data));
                            if(data['status'] == 1){
                                setTimeout(function(){
                                    window.location.reload()
                                }, 500);
                            }else if(data['status'] == 2){
                                mui.confirm('您的余额不足,是否去充值?', '提示', '', function(e) {
                                    if (e.index == 1) {
                                        mui.openWindow({
                                            url:  url + 'Home/Pay/topUpsPage'
                                        });
                                    }else{
                                        mui.toast('您取消了操作');
                                    }
                                });
                            }
                        },
                        error:function(xhr,type,errorThrown){
                            //异常处理；
                            console.log(type);
                        }
                    });
        }
        function pass(tid){
            mui.confirm('是否通过这个任务', '提示', '', function(e) {
                if (e.index == 1) {
                    mui.ajax(url + 'Mobile/TaskLog/pass',{
                        data:{
                            id : tid
                        },
                        dataType:'json',//服务器返回json格式数据
                        type:'post',//HTTP请求类型
                        timeout:10000,//超时时间设置为10秒；
                        success:function(data){
                            mui.toast(data['info']);
                            // alert(JSON.stringify(data));
                            if(data['status'] == 1){
                                setTimeout(function(){
                                    window.location.reload()
                                }, 500);
                            }else if(data['status'] == 2){
                                mui.confirm('您的余额不足,是否去充值?', '提示', '', function(e) {
                                    if (e.index == 1) {
                                        mui.openWindow({
                                            url:  url + 'Home/Pay/topUpsPage'
                                        });
                                    }else{
                                        mui.toast('您取消了操作');
                                    }
                                });
                            }
                        },
                        error:function(xhr,type,errorThrown){
                            //异常处理；
                            console.log(type);
                        }
                    });
                }else{
                    mui.toast('您取消了操作');
                }
            })
        }
        var count = 1;
        //单图上传
        $('#upload').fileupload({
            url: "{:U('TaskLog/uploadImg')}",
            dataType: 'json',
            done: function (e, data) {
                $('#apendImg').prepend('<div class="up-img fl" ><button data-url="'+data.result.data.nameosspath+'" class="iconfont icon-common_icon_close" onclick="delPic(this)" ></button><img src="'+data.result.data.nameosspath+'"><input class="weui-uploader__input" type="file" name="valid_img[]" value="'+data.result.data.nameosspath+'" ></div>');
                count++;
                if (count>2) {
                    mui.toast('只能添加两张图片!');
                    $('#upload').attr('disabled','disabled');
                }
            }
        }).prop('disabled', !$.support.fileInput)
            .parent().addClass($.support.fileInput ? undefined : 'disabled');
        function delPic(obj) {
            var obj = obj;
            var img_src = $(obj).data('url');
            $.post("{:U('oss_delet_object')}",{'img_src':img_src}, function (data) {
                if (data.status == 1) {
                    count-- ;
                    $(obj).parent().remove();
                    $('#upload').attr('disabled',false);
                }
            })
        }
        function none(){
            mui.toast('没有数据了!');
        }
    </script>
</block>
</html>