<extend name="Public/base"/>
<block name="style">
    <title>{:C('WEB_TITLE')}-我的任务</title>
    <link rel="stylesheet" href="__PUBLIC__/pc/css/task.css">
</block>
<block name="body">
    <body class="bg">
    <include file="Public/head"/>
        <div class="session">
            <div class="w1200">
                <include file="Public/nav"/>
                <div class="nav-bred">
                    <a href="#">我的任务 ></a>
                    <a href="#"><if condition="$type eq 4">接单记录<else/>接单任务</if></a>
                </div>
                <div class="sess-wapper task">
                    <div class="task-record">
                        <ul class="task-record-title">
                            <li onclick="task(5)" <if condition="$type eq 5">class="task-active"<else/></if>>接单任务</li>
                            <li onclick="task(4)" <if condition="$type eq 4">class="task-active"<else/></if>>接单记录</li>
                        </ul>
                        <div class="tab_box">
                            <div>

                                <if condition="$type eq 4">
                                    <else/>
                                    <ul class="task-group">
                                        <li onclick="task(5)" <if condition="$type eq 5">class="btn-active"<else/></if>>全部</li>
                                        <li onclick="task(0)" <if condition="$type eq 0">class="btn-active"<else/></if>>待提交</li>
                                        <li onclick="task(1)" <if condition="$type eq 1">class="btn-active"<else/></if>>审核中</li>
                                        <li onclick="task(2)" <if condition="$type eq 2">class="btn-active"<else/></if>>不合格</li>
                                        <li onclick="task(3)" <if condition="$type eq 3">class="btn-active"<else/></if>>已完成</li>
                                    </ul>
                                </if>

                                <ul class="index-wapper" id="ajax_return"></ul>
                                <button class="check-more" id="more" onclick="ajax_getTaskLog()">查看更多</button>
                                <button class="check-more" id="no" style="display: none">没有更多了</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</block>
<block name="script">
    <script type="text/javascript">
        /*跳转链接*/
        function task(num){
            mui.openWindow({
                url:  url + 'Mobile/TaskLog/getTaskLog/type' + num
            });
        }

        /*开始加载*/
        $(document).ready(function(){
            var type = "{$type}";
            ajax_getTaskLog(type);
        });
        /**
         * ajax 抓取接单页面(点击查看更多)
         **/
        var cur_page = 1;
        function ajax_getTaskLog(type){
            $.ajax({
                url:"{:U('ajax_getTaskLog')}/p/"+cur_page,
                type: 'POST',
                data : {type:type},
                success:function(data){
                    if(!data) {
                        $('#more').hide();
                        $('#no').show();
                    }
                    else{
                        cur_page++;
                        $("#ajax_return").append(data);
                        $('#more').show();
                        $('#no').hide();
                    }
                }
            });
        }

        /*删除操作*/
        function del(id){
            mui.confirm('您是否要删除该条任务?', '提示', '', function(e) {
                if (e.index == 1) {
                    $.ajax({
                        url : "{:U('TaskLog/delTaskLog')}",
                        type : "POST",
                        dataType : "json",
                        data : {id: id},
                        success:function(data){
                            mui.toast(data['info']);
                            if(data['status'] == 1){
                                setTimeout(function(){
                                    location.reload();
                                }, 2000);
                            }
                        },
                        error:function(xhr,type,errorThrown){
                            //异常处理；
                            console.log(type);
                        }
                    });
                }
                else{
                    mui.alert('您取消了操作');
                }
            });
        }

        /*上传验证*/
        function verify(id){
            window.location.href = "{:U('TaskLog/taskVerify')}/id/"+id;
        }
        /*不合格*/
        function fail(id){
            window.location.href = "{:U('TaskLog/taskLogFail')}/id/"+id;
        }
        /*详情*/
        function taskDetail (log_id) {
            window.location.href = "{:U('TaskLog/taskLogDetail')}/id/"+log_id;
        }
    </script>
</block>
</html>