<extend name="Public/base"/>
<block name="style">
    <title>{:C('WEB_TITLE')}-意见反馈</title>
    <link rel="stylesheet" href="__PUBLIC__/pc/css/feedback.css">
</block>
<block name="body">
    <body class="bg">
        <include file="Public/head"/>
        <div class="session">
            <div class="w1200">
                <include file="Public/nav"/>
                <div class="nav-bred">
                    <a href="#">意见反馈</a>
                </div>
                <div class="feedback sess-wapper">

                    <form action="__ACTION__" method="post" class="ajaxForm">
                        <textarea name="comment" placeholder="请输入反馈内容"></textarea>
                        <div class="feedback-up">
                            <p class="feedback-tips">提示！反馈内容请不要超过1000字</p>
                            <button class="feedback-btn">提交</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </body>
</block>
<block name="script">
    <script type="text/javascript">
        /**
         * 执行回调函数
         **/
        function callback(data) {
            if(!data.status){
                toastr(data.info);
                return false;
            }
            else{
                toastr(data.info);
                setTimeout("reload()",1500);
            }
        }
        function reload() {
            location.reload();
        }
    </script>
</block>