<extend name="Common/base"/>
<block name="style">

</block>

<block name="body">
    <div class="row-content am-cf">
        <div class="row">
           <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">教师详情</div>
                    </div>
                    <div class="widget-body am-fr">

                        <form action="__ACTION__" method="post" class="ajaxForm am-form tpl-form-border-form tpl-form-border-br">
                            <div class="am-form-group">
                                <label class="am-u-sm-2 am-form-label">
                                    账号 <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                    {$info['login_name']}

                            </div>
                            <div class="am-form-group">
                                <label class="am-u-sm-2 am-form-label">
                                    头像
                                    <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                <img src="{$info['head_pic']}" />
                            </div>
                            <div class="am-form-group">
                                <label class="am-u-sm-2 am-form-label">
                                    真实姓名
                                    <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                {$info['true_name']}
                            </div>
                            <div class="am-form-group">
                                <label class="am-u-sm-2 am-form-label">
                                    手机号
                                    <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                {$info['mobile']}
                            </div>
                            <div class="am-form-group">
                                <label class="am-u-sm-2 am-form-label">
                                    邮箱
                                    <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                {$info['email']}

                            </div>
                            <div class="am-form-group">
                                <label class="am-u-sm-2 am-form-label">
                                    学校名称
                                    <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                {$info['school_name']}

                            </div>

                            <div class="am-form-group">
                                <label class="am-u-sm-2 am-form-label">
                                    所教学段
                                    <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                {$info['period']}

                            </div>
                            <div class="am-form-group">
                                <label class="am-u-sm-2 am-form-label">
                                    学习币(积分)
                                    <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                {$info['points']}

                            </div>
                            <div class="am-form-group">
                                <label class="am-u-sm-2 am-form-label">
                                    注册时间
                                    <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                    {:time_format($info['reg_time'])}

                            </div>


                            <div class="am-form-group">
                                <label class="am-u-sm-2 am-form-label">
                                    状态 <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                <div class="am-u-sm-10">
                                    <div class="row">
                                        <div class="am-u-sm-3">
                                            {:show_disabled($info['disabled'])}
                                        </div>
                                        <div class="am-u-sm-9"></div></div>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <div class="am-u-sm-10 am-u-sm-push-2">

                                    <button type="button" class="am-btn am-btn-primary am-btn-warning " onclick="goback();">返回</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="script">

    <script type="text/javascript" charset="utf-8" src="__STATIC__/js/address.js?v=1.0"></script>
    <script type="text/javascript">

    </script>
</block>