<extend name="Common/base"/>
<block name="style">

</block>

<block name="body">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">{$userInfo['user_id'] ? '编辑' : '添加'}教师</div>
                    </div>
                    <div class="widget-body am-fr">

                        <form action="__ACTION__" method="post" class="ajaxForm am-form tpl-form-border-form tpl-form-border-br">
                            <div class="am-form-group">
                                <label for="mobile" class="am-u-sm-3 am-form-label">
                                    教师手机/账号 <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                <div class="am-u-sm-7 am-u-sm-pull-2">

                                    <if condition="$agent_info['id'] gt 0">
                                        {$user_info['mobile']}
                                        <else/>
                                        <input id="mobile" name="mobile" placeholder="请输入教师手机号"  value="{$userInfo['mobile']}" type="text" class="tpl-form-input" >
                                        <small>教师手机号, 即教师登录名</small>
                                    </if>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="password" class="am-u-sm-3 am-form-label">
                                    密码
                                    <if condition="$agent_info['id'] elt 0">
                                        <span class="tpl-form-line-small-title must-input">*</span>
                                    </if>
                                </label>
                                <div class="am-u-sm-7 am-u-sm-pull-2">
                                    <input id="password" name="password" placeholder="请输入密码"  type="password" class="tpl-form-input" autocomplete="new-password" >
                                    <small>
                                        <if condition="$agent_info['id'] gt 0">
                                            不需要修改密码, 请留空;
                                        </if>
                                        6-30位密码, 建议大小写字符加数字及特殊字符混合使用
                                    </small>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="email" class="am-u-sm-3 am-form-label">
                                    邮箱<span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                <div class="am-u-sm-7 am-u-sm-pull-2">
                                    <input id="email" name="email" placeholder="请输入邮箱"  value="{$agent_info['email']}" type="text" class="tpl-form-input" autocomplete="off" >
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="img0" class="am-u-sm-3 am-form-label">
                                    头像 <span class="tpl-form-line-small-title must-input"></span>
                                </label>
                                <div class="am-u-sm-7 am-u-sm-pull-2">
                                    <div class="tpl-form-file-img">
                                        <img src="{$agent_info['head_pic']}" alt="" style="min-height:122px; width: 122px;" id="img_0">
                                    </div>
                                    <input type="hidden" value="{$agent_info['head_pic']}" name="head_pic" id="img0" />
                                    <button type="button" class="am-btn am-btn-success am-btn-sm" id="btnUpload0">上传</button>
                                    <button type="button" class="am-btn am-btn-danger am-btn-sm" onclick="delFile($('#img0').val(), 0)" id="btn_delete_0">删除</button>

                                    <if condition="$agent_info['head_pic'] eq ''">
                                        <script>
                                            $("#img_0, #btn_delete_0").hide();
                                        </script>
                                    </if>
                                </div>
                            </div>


                            <div class="am-form-group">
                                <label for="truename" class="am-u-sm-3 am-form-label">
                                    真实姓名<span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                <div class="am-u-sm-7 am-u-sm-pull-2">
                                    <input id="truename" name="truename" placeholder="请输入真实姓名"  value="{$agent_info['true_name']}" type="text" class="tpl-form-input" autocomplete="off" >
                                </div>
                            </div>
                            <if condition="$agent_info.id gt 0">
                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-form-label">
                                        学习币<span class="tpl-form-line-small-title must-input">*</span>
                                    </label>
                                    {$agent_info['points']}
                                </div>
                            </if>

                            <div class="am-form-group">
                                <label for="school_id" class="am-u-sm-3 am-form-label">
                                    所属学校 <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                <div class="am-u-sm-4 am-u-sm-pull-5">
                                    <div class="tpl-table-list-select am-align-left">
                                        <select data-am-selected="{}" style="display: none;" name="school_id" id="school_id">
                                            <option value="0">选择所属学校</option>
                                            <foreach name="schoolInfo" item="v">
                                                <option value="{$v['id']}">{$v['school_name']}</option>
                                            </foreach>
                                        </select>
                                        <if condition="$agent_info['school_id'] neq 0">
                                            <script>
                                                $('#school_id').val('{$agent_info["school_id"]}');
                                            </script>
                                        </if>
                                    </div>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="period" class="am-u-sm-3 am-form-label">
                                    所教学段 <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                <div class="am-u-sm-4 am-u-sm-pull-5">
                                    <div class="tpl-table-list-select am-align-left">
                                        <select data-am-selected="{}" style="display: none;" name="period" id="period">
                                            <option value="0">选择所教学段</option>
                                            <foreach name="periodInfo" item="v">
                                                <option value="{$v['id']}">{$v['period_name']}</option>
                                            </foreach>
                                        </select>
                                        <if condition="$agent_info['period'] neq 0">
                                            <script>
                                                $('#period').val('{$agent_info["period"]}');
                                            </script>
                                        </if>
                                    </div>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">是否禁用</label>
                                <div class="am-u-sm-7 am-u-sm-pull-2">
                                    <div class="am-form-group">
                                        <label class="am-radio-inline">
                                            <input type="radio" name="disabled" id="able" value="1" data-am-ucheck> 启用
                                        </label>
                                        <label class="am-radio-inline">
                                            <input type="radio" name="disabled" id="disable" value="0" data-am-ucheck> 禁用
                                        </label>
                                    </div>
                                    <if condition="$agent_info['disabled'] eq 1 or $agent_info['disabled'] eq ''">
                                        <script>
                                            $('#able').attr('checked','true');
                                        </script>
                                        <else/>
                                        <script>
                                            $('#disable').attr('checked','true');
                                        </script>
                                    </if>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-push-3">
                                    <input type="hidden" value="{$agent_info['id']}" name="id">
                                    <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                                    <button type="button" class="am-btn am-btn-primary am-btn-warning " onclick="jumpRiderList();">返回</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ajaxupload/ajaxupload.js?v=1.0"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ajaxupload/imgupload.js?v=1.0"></script>
    <script type="text/javascript">
        $(function() {

            ajaxUpload('#btnUpload0', $("#img0"), 'User', 0);

        });
        function jumpRiderList(){
            location.href='{:U("Agent/Teacher/listTeacher")}';
        }
    </script>

</block>