<extend name="Common/base"/>
<block name="style">

</block>

<block name="body">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title  am-cf">教师列表</div>

                    </div>
                    <div class="widget-body  am-fr">

                        <div class="am-u-sm-12 am-u-md-2 am-u-lg-2">
                            <div class="am-form-group">
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <form action="__SELF__" method="get">
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                <div class="am-form-group tpl-table-list-select">
                                    <select data-am-selected="{searchBox: 1}" name="school_id" id="school_id">
                                        <option value="0">请选择所属学校</option>
                                        <foreach name="schoolInfo" item="v">
                                            <option value="{$v['id']}">{$v['school_name']}</option>
                                        </foreach>
                                    </select>
                                    <if condition="$school_id neq 0">
                                        <script>
                                            $('#school_id').val('{$school_id}');
                                        </script>
                                    </if>
                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-4 am-u-lg-4">
                                <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                    <input type="text" class="am-form-field" name="keyword" placeholder="请输入查询关键字" value="{$keyword}">
                                    <span class="am-input-group-btn">
                                        <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="submit"></button>
                                        <a class="am-btn  am-btn-default am-btn-danger tpl-table-list-field am-icon-refresh" type="button" href="__ACTION__"></a>
                                    </span>
                                </div>
                            </div>
                        </form>

                        <div class="am-u-sm-12">
                            <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                                <thead>
                                    <tr>
                                        <th><input class="check-all" type="checkbox"></th>
                                        <th>序号</th>
                                        <th>登录名</th>
                                        <th>手机号</th>
                                        <th>学校名称</th>
                                        <th>学习币(积分)</th>
                                        <th>状态</th>
                                        <th>注册时间</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <foreach name="info" item="v">
                                        <tr class="gradeX">
                                            <td><input class="ids" type="checkbox" name="chkbId" value="{$v['id']}"></td>
                                            <td>{$v['id']}</td>
                                            <td class="align-center">
                                                {$v['user_name']}
                                            </td>
                                            <td class="align-center">
                                                {$v['mobile']}
                                            </td>
                                            <td class="align-center">
                                                {$v['school_name']}
                                            </td>
                                            <td class="align-center">
                                                {$v['points']}
                                            </td>
                                            <td>{:show_disabled($v['disabled'])}</td>
                                            <td class="center">{:time_format($v['reg_time'])}</td>
                                            <td class="f-14">
                                                <div class="tpl-table-black-operation">
                                                    <if condition="$v['disabled'] eq 0">
                                                        <a title="点击启用" href="javascript:void(0)" onclick="changeDisabled({$v['user_id']});">
                                                            启用
                                                        </a>
                                                    </if>
                                                    <if condition="$v['disabled'] eq 1">
                                                        <a title="点击禁用" href="javascript:void(0)" class="tpl-table-black-operation-del" onclick="changeDisabled({$v['user_id']});">
                                                            禁用
                                                        </a>
                                                    </if>
                                                    <a href="{:U('editTeacher',array('id'=>$v['id']))}">
                                                        <i class="am-icon-pencil"></i> 编辑
                                                    </a>

                                                    <a href="javascript:void(0);"
                                                       onclick="javascript:recycle({$v['user_id']}, '确认删除?!此步骤无法恢复!')"
                                                       class="tpl-table-black-operation-del">
                                                        <i class="am-icon-trash"></i> 删除
                                                    </a>


                                                </div>
                                            </td>
                                        </tr>
                                    </foreach>

                                <!-- more data -->
                                </tbody>
                            </table>

                            <empty name="info">
                                <h4>aOh! 没有相关内容!</h4>
                            </empty>
                        </div>
                        <div class="am-u-lg-12 am-cf">

                            <div class="am-fr">
                                <div class="am-pagination tpl-pagination">
                                    {$page}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript">
        function changeDisabled(id){
            $.ajax({
                url : "{:U('Teacher/changeDisabled')}",
                type : "POST",
                dataType : "json",
                data : {
                    "user_id" : id,
                },
                success : function(data){
                    toastr(data.info);
                    if(data.status == 1){
                        setInterval('reload()', 1500);
                    }
                }
            });
        }
        function reload() {
            location.reload();
        }
    </script>
</block>