<extend name="Common/base"/>
<block name="style">

</block>

<block name="body">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                  <div class="widget-head am-cf">
                        <div class="widget-title am-cf">申诉列表</div>
                    </div>
                    <div class="widget-body am-fr">
                        <div class="am-u-sm-12 am-u-md-8 am-u-lg-8">
                            <div class="am-form-group">
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">
                                        <button type="button" class="am-btn am-btn-default am-btn-danger"
                                                onclick="javascript:recycle('chkbId', '确认删除?! 删除后无法恢复!', true)">
                                            <span class="am-icon-trash-o"></span> 批量删除
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="widget-body  am-fr">

                        <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <div class="am-form-group">
                                <div class="am-btn-toolbar">

                                </div>
                            </div>
                        </div>
                        <form action="__SELF__" method="get">
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                                <div class="am-form-group tpl-table-list-select">
                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                                <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                    <input type="text" class="am-form-field" name="keyword" placeholder="请输入任务ID或投诉人ID" value="{$keyword}">
                                    <span class="am-input-group-btn">
                                        <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="submit"></button>
                                    </span>
                                </div>
                            </div>
                        </form>

                        <div class="am-u-sm-12">
                            <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                                <thead>
                                    <tr>
                                        <th width="5%"><input class="check-all" type="checkbox"></th>
                                        <th width="5%">ID</th>
                                        <th width="5%" class="align-center">类型</th>
                                        <th width="5%" class="align-center">任务ID</th>
                                        <th width="5%" class="align-center">用户ID</th>
                                        <th width="5%" class="align-center">审核状态</th>
                                        <th width="5%" class="align-center">信息状态</th>
                                        <th width="10%" class="align-center">处理时间</th>
                                        <th width="30%">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <foreach name="list" item="v" key="k">
                                        <tr class="gradeX">
                                            <td><input value="{$v['id']}" class="ids" type="checkbox" name="chkbId"></td>
                                            <td>{$v['id']}</td>
                                            <td class="align-center">{:showChangeStatus($v['type'],$v['type'] == 0?'投诉':'申诉')}</td>
                                            <td class="align-center">{$v['task_id']}</td>
                                            <td class="align-center">{$v['user_id']}</td>
                                            <td class="align-center">{:showAuditStatus($v['audit_status'])}</td>
                                            <td class="align-center">
                                                {:showChangeStatus($v['status'],$v['status'] == 1?'正常':'删除')}
                                            </td>
                                            <td class="align-center">{:time_format($v['add_time'], 'Y-m-d H:i:s')}</td>
                                            <td class="f-14">
                                                <div class="tpl-table-black-operation">
                                                    <a href="{:U('ComplaintDetail',array('id'=>$v['id']))}">
                                                        <i class="am-icon-desktop"></i> 详情
                                                    </a>
                                                    <a href="javascript:void(0)" onclick="javascript:recycle({$v['id']}, '确认删除?!')" class="tpl-table-black-operation-del">
                                                        <i class="am-icon-trash"></i> 删除
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </foreach>

                                <!-- more data -->
                                </tbody>
                            </table>

                            <empty name="list">
                                <h4>aOh! 没有相关内容!</h4>
                            </empty>
                        </div>
                        <div class="am-u-lg-12 am-cf">
                            <div class="am-fr">
                                <div class="am-pagination tpl-pagination">
                                    {$page}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript">
        function changeDisabled(user_id){
            $.ajax({
                url : "{:U('User/changeDisabled')}",
                type : "POST",
                dataType : "json",
                data : {
                    "user_id" : user_id,
                },
                success : function(data){
                    toastr(data.info);
                    if(data.status == 1){
                        setInterval('reload()', 2000);
                    }
                }
            });
        }
        function reload() {
            location.reload();
        }
    </script>
</block>