<extend name="Common/base"/>

<block name="style">
    <style>
        .text-box {
            /*height: 40px;*/
            width: 100%;
        }
        .img-box {
            width: 100px;
            display: inline-block;
            margin-left: 20px;
            margin-top: 20px;
        }
        .img-box img {
            width: 100%;
        }
    </style>
</block>

<block name="body">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                 <!--    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">{$info['id'] ? '编辑' : '添加'}任务表</div>
                    </div> -->
                    <div class="widget-body am-fr">
                        <form action="__ACTION__" method="post" class="ajaxForm am-form tpl-form-border-form tpl-form-border-br">
                             <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">所属分类 <span class="tpl-form-line-small-title must-input">*</span></label>
                                <div class="am-u-sm-7 am-u-sm-pull-2">
                                    {$info.category_name}
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">
                                    发布人名称
                                    <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                <div class="am-u-sm-7 am-u-sm-pull-2">
                                    {$info['nick_name']}
                                    <small></small>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">
                                    任务标题
                                    <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                <div class="am-u-sm-7 am-u-sm-pull-2">
                                    {$info['title']}
                                    <small></small>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">
                                    支持设备
                                    <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                <div class="am-u-sm-7 am-u-sm-pull-2">
                                    {$info['mobile_type']}

                                    <small></small>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">
                                    任务截止时间
                                    <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                <div class="am-u-sm-7 am-u-sm-pull-2">
                                    {$info['end_time']|time_format}
                                    <small></small>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">
                                    出价金额
                                    <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                <div class="am-u-sm-7 am-u-sm-pull-2">
                                    {:fen_to_yuan($info['price'])}
                                    <small></small>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">
                                    任务数量
                                    <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                <div class="am-u-sm-7 am-u-sm-pull-2">
                                    {$info['task_num']}
                                    <small></small>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">
                                    总金额
                                    <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                <div class="am-u-sm-7 am-u-sm-pull-2">
                                    {$info['total_price']|fen_to_yuan}
                                    <small></small>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">
                                    链接地址
                                    <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                <div class="am-u-sm-7 am-u-sm-pull-2">
                                    {$info['link_url']}
                                    <small></small>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">
                                    验证文字内容
                                    <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                <div class="am-u-sm-7 am-u-sm-pull-2">
                                    {$info['validate_words']}
                                    <small></small>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">
                                    验证图片
                                    <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                <div class="am-u-sm-7 am-u-sm-pull-2">
                                    <notempty name="info['checkInfo']">
                                        <volist name="info['checkInfo']" id="v">
                                            <div class="img-box">
                                                <img src="{$v['step_img']}" />
                                            </div>
                                        </volist>
                                    </notempty>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">
                                    任务步骤
                                    <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                <div class="am-u-sm-7 am-u-sm-pull-2">
                                    <notempty name="info['stepInfo']">
                                        <volist name="info['stepInfo']" id="v">
                                            <div class="text-box">{$v['step_text']}</div>
                                            <div class="img-box">
                                                <img src="{$v['step_img']}" />
                                            </div>

                                        </volist>
                                    </notempty>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">
                                    备注
                                    <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                <div class="am-u-sm-7 am-u-sm-pull-2">
                                    {$info['remark']}
                                    <small></small>
                                </div>
                            </div>


                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">
                                     审核状态
                                    <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                <div class="am-u-sm-7 am-u-sm-pull-2">
                                <div >
                                    <select  id="audit" name="audit_status" data-am-selected="0">
                                        <option value="0">待审核</option>
                                        <option value="1">通过</option>
                                        <option value="2">未通过</option>
                                    </select>
                                     <script>
                                       $('#audit').val('{$info["audit_status"]}');
                                     </script>
                                </div>
                                    <small></small>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="audit_info" class="am-u-sm-3 am-form-label">
                                    理由说明（未通过必填）
                                </label>
                                <div class="am-u-sm-7 am-u-sm-pull-2">
                                    <input type="text" id="audit_info" name="audit_info" value="{$info['audit_info']}"
                                           placeholder="请输入拒绝理由说明">
                                    <small></small>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-push-3">
                                    <input type="hidden" name="id" value="{$info['id']}">
                                    <input type="hidden" name="user_id" value="{$info['user_id']}">
                                    <input type="hidden" name="total_price" value="{$info['total_price']}">
                                    <input type="hidden" name="task_num" value="{$info['task_num']}">
                                    <input type="hidden" name="price" value="{$info['price']}">

                                    <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success">提交</button>
                                    <button type="button" class="am-btn am-btn-primary am-btn-warning" onclick="goback();">返回</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="script">
<script type="text/javascript">

</script>

</block>
