<extend name="Common/base"/>

<block name="style">

</block>

<block name="body">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">{$info['id'] ? '编辑' : '添加'}任务表</div>
                    </div>
                    <div class="widget-body am-fr">
                        <form action="__ACTION__" method="post" class="ajaxForm am-form tpl-form-border-form tpl-form-border-br">
                            
                            <div class="am-form-group">
                                <label for="title" class="am-u-sm-3 am-form-label">
                                    任务标题
                                    <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                <div class="am-u-sm-7 am-u-sm-pull-2">
                                    <input type="text" id="title" name="title" value="{$info['title']}"
                                           placeholder="请输入任务标题">
                                    <small></small>
                                </div>
                            </div>
            
                            <div class="am-form-group">
                                <label for="category_id" class="am-u-sm-3 am-form-label">
                                    
                                    <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                <div class="am-u-sm-7 am-u-sm-pull-2">
                                    <input type="number" id="category_id" name="category_id" value="{$info['category_id']}"
                                           placeholder="请输入">
                                    <small></small>
                                </div>
                            </div>
            
                            <div class="am-form-group">
                                <label for="mobile_type" class="am-u-sm-3 am-form-label">
                                    支持设备 (全部，安卓,苹果)
                                    <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                <div class="am-u-sm-7 am-u-sm-pull-2">
                                    <input type="text" id="mobile_type" name="mobile_type" value="{$info['mobile_type']}"
                                           placeholder="请输入支持设备 (全部，安卓,苹果)">
                                    <small></small>
                                </div>
                            </div>
            
                            <div class="am-form-group">
                                <label for="end_time" class="am-u-sm-3 am-form-label">
                                    任务截止时间
                                    <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                <div class="am-u-sm-7 am-u-sm-pull-2">
                                    <input type="number" id="end_time" name="end_time" value="{$info['end_time']}"
                                           placeholder="请输入任务截止时间">
                                    <small></small>
                                </div>
                            </div>
            
                            <div class="am-form-group">
                                <label for="price" class="am-u-sm-3 am-form-label">
                                    出价金额（分）
                                    <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                <div class="am-u-sm-7 am-u-sm-pull-2">
                                    <input type="number" id="price" name="price" value="{$info['price']}"
                                           placeholder="请输入出价金额（分）">
                                    <small></small>
                                </div>
                            </div>
            
                            <div class="am-form-group">
                                <label for="task_num" class="am-u-sm-3 am-form-label">
                                    任务数量
                                    <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                <div class="am-u-sm-7 am-u-sm-pull-2">
                                    <input type="number" id="task_num" name="task_num" value="{$info['task_num']}"
                                           placeholder="请输入任务数量">
                                    <small></small>
                                </div>
                            </div>
            
                            <div class="am-form-group">
                                <label for="total_price" class="am-u-sm-3 am-form-label">
                                    总金额(分)
                                    <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                <div class="am-u-sm-7 am-u-sm-pull-2">
                                    <input type="number" id="total_price" name="total_price" value="{$info['total_price']}"
                                           placeholder="请输入总金额(分)">
                                    <small></small>
                                </div>
                            </div>
            
                            <div class="am-form-group">
                                <label for="link_url" class="am-u-sm-3 am-form-label">
                                    链接地址
                                    <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                <div class="am-u-sm-7 am-u-sm-pull-2">
                                    <input type="text" id="link_url" name="link_url" value="{$info['link_url']}"
                                           placeholder="请输入链接地址">
                                    <small></small>
                                </div>
                            </div>
            
                            <div class="am-form-group">
                                <label for="validate_words" class="am-u-sm-3 am-form-label">
                                    验证文字内容
                                    <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                <div class="am-u-sm-7 am-u-sm-pull-2">
                                    <input type="text" id="validate_words" name="validate_words" value="{$info['validate_words']}"
                                           placeholder="请输入验证文字内容">
                                    <small></small>
                                </div>
                            </div>
            
                            <div class="am-form-group">
                                <label for="remark" class="am-u-sm-3 am-form-label">
                                    备注
                                    <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                <div class="am-u-sm-7 am-u-sm-pull-2">
                                    <input type="text" id="remark" name="remark" value="{$info['remark']}"
                                           placeholder="请输入备注">
                                    <small></small>
                                </div>
                            </div>
            
                            <div class="am-form-group">
                                <label for="audit_status" class="am-u-sm-3 am-form-label">
                                    审核状态0 未审核 1 审核通过 2 审核未通过
                                    <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                <div class="am-u-sm-7 am-u-sm-pull-2">
                                    <input type="number" id="audit_status" name="audit_status" value="{$info['audit_status']}"
                                           placeholder="请输入审核状态0 未审核 1 审核通过 2 审核未通过">
                                    <small></small>
                                </div>
                            </div>
            
                            <div class="am-form-group">
                                <label for="audit_info" class="am-u-sm-3 am-form-label">
                                    审核理由说明
                                    <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                <div class="am-u-sm-7 am-u-sm-pull-2">
                                    <input type="text" id="audit_info" name="audit_info" value="{$info['audit_info']}"
                                           placeholder="请输入审核理由说明">
                                    <small></small>
                                </div>
                            </div>
            
                            <div class="am-form-group">
                                <label for="add_time" class="am-u-sm-3 am-form-label">
                                    添加时间
                                    <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                <div class="am-u-sm-7 am-u-sm-pull-2">
                                    <input type="number" id="add_time" name="add_time" value="{$info['add_time']}"
                                           placeholder="请输入添加时间">
                                    <small></small>
                                </div>
                            </div>
            
                            <div class="am-form-group">
                                <label for="status" class="am-u-sm-3 am-form-label">
                                    1正常 0删除
                                    <span class="tpl-form-line-small-title must-input">*</span>
                                </label>
                                <div class="am-u-sm-7 am-u-sm-pull-2">
                                    <input type="number" id="status" name="status" value="{$info['status']}"
                                           placeholder="请输入1正常 0删除">
                                    <small></small>
                                </div>
                            </div>
            
                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-push-3">
                                    <input type="hidden" name="id" value="{$info['id']}">
                                    <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success">提交</button>
                                    <button type="button" class="am-btn am-btn-primary am-btn-warning" onclick="goback();">返回</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="script">

</block>
        